<div class="standard-cards-option-card">
  <div class="standard-card-icon"></div>
  <div class="content-col">
    <div class="primary-line">
      <div class="main-title">دیگر کارت‌های من</div>
      <div class="images">
        <div class="fp-logo ikco"></div>
        <div class="fp-logo sepah"></div>
        <div class="fp-logo melli"></div>
        <div class="fp-logo mellat"></div>
      </div>
    </div>
    <div class="secondary-line">
      کارت‌های اعتباری سازمانی، شخصی و ...
    </div>
  </div>
</div>
