/****************font-size**********/
.font-ss-med {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.font-s-med {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.font-sm-med {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.font-m-med {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

.font-x-med {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.font-xl-med {
  font-size: 30px !important;
  font-weight: 500;
  color: #2c3545 !important;
  line-height: 1.5;
}

.font-s-bold {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.font-sm-bold {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.font-xl-bold {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
}

.font-xxl-heavy {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
}
