@import "../../../layout/variables";
@import "../../../layout/mixins/font-size";
@import "../../../layout/mixins/flex";

.subscription-success {

  .success-loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    @include flex-center;
    flex-direction: column;

    > .loading {
      width: 24px;
      height: 24px;
      display: inline-block;
      background: url('../assets/ui-preparing-loading-subscription.svg') no-repeat 0 0/100%;
      animation: circularRotate 0.7s linear infinite;
    }
  }

  .success-details {
    @include flex-center;
    flex-direction: column;

    > .success-icon {
      width: 48px;
      height: 48px;
      margin-bottom: 12px;
      display: inline-block;
      background: url('./assets/success-sign.svg') no-repeat 0 0/100%;
    }

    > .success-message {
      height: 40px;
      color: #00cc6d;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      @include flex-center;
      @include fontSize(18);
    }
  }

  @keyframes circularRotate {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
