::ng-deep ui-digipay-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 44px;
}

.logo {
  width: 44px;
  height: 64px;
  display: inline-block;
  margin: 0 auto;
  background: url('../../../../assets/logo/digipay.svg') no-repeat 0 0;
}
