/*
.modal-credit-header {
  padding: 15px 80px;
  height: 26px;
  border-bottom: 1px solid #e6e6e6;
  font-weight: 600;
}

.right-section {
  float: right;
}

.right-section img {
  width: 24px;
  display: inline-block;
  float: right;
}

.credit-header-title {
  margin-right: 10px;
}
.flexbox {
  display: flex;
  align-items: center;
}
*/
