<section class="form-section">
  <div class="container">
    <div class="segment-content">
      <h2
        *ngIf="title"
        class="text-align-center"
      >
        {{ title }}
      </h2>
      <div
        *ngIf="subtitle"
        class="subtitle text-align-center"
        style="line-height: 1.5"
      >
        {{ subtitle }}
      </div>
      <div
        class="form"
        role="form"
      >
        <app-contact-form
          *ngIf="contactForm"
          [contactFormDefinition]="contactForm"
          [modalType]="'content-promotion'"
          [modal]="mainFormModal"
        ></app-contact-form>
      </div>
    </div>
  </div>
</section>
