.blue-info {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url("../../../../../../assets/image/gift-card/blue-info.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 4px;
}
