<div class="branch-wrapper">
  <div class="branch-header">
    <h2 class="title">لیست شعب بانک سامان</h2>
    <p class="description">
      با استفاده از نقشه زیر به راحتی به نزدیکترین شعبه بانک سامان جهت امضای قرارداد و دریافت تسهیلات مراجعه کنید.
    </p>
  </div>
  <iframe
    class="branch-map"
    src="https://www.google.com/maps/d/embed?mid=1t2UE9FJ6RHe_rBxNAyzXa9EB9CY&ll=35.54493686801307,51.334094501999914&z=10"
    width="474"
    height="216"
    style="border:0;">
  </iframe>
  <ngx-divider class="branch-divider" [color]="BorderColorsEnum.Tint"
               orientation="horizontal"></ngx-divider>
  <div class="branch-note">
    <div class="note-title">
      <div class="icon"></div>
      <span>لطفا توجه داشته باشید</span>
    </div>
    <p class="note-description">برای امضای قرارداد حضوری، به همراه داشتن مدارک ذکر شده الزامی است. برای اطلاعات بیشتر،
      به راهنمای مدارک رجوع کنید.</p>
  </div>
</div>
