@import '../../../../styles/layout/variables';

.request-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $swatch_steel_100;
  padding: 10px 24px;
  border-radius: 16px;

  .request-body {
    color: $swatch_steel_700;

    .price {
      font-size: 24px;
      font-weight: 400;

      .price-unit {
        font-size: 20px;
        font-weight: 800;
      }

    }

    .description {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .request-icon {
    align-self: center;
    background-image: url("../../../../../assets/icons/green-check.svg");
    width: 34px;
    height: 34px;
  }
}
