@import "globals";

:host {
  display: block;
}

.bank-card {
  background: $text-color;
  color: #fff;
  font-weight: 400;
  border-radius: 16px;
  text-align: center;
  padding: 12px 12px 18px 12px;
  direction: rtl;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title-bar {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }

  .bank-image {
    margin-left: 4px;
  }

  .pinned-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('assets/pinned.svg') no-repeat 0 0/16px;
    position: absolute;
    top: 16px;
    right: 14px;
  }

  .bank-title {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
  }

  .card-number {
    font-weight: 600;
    color: #fff;
    direction: ltr;
    //text-align: center;
    margin-right: auto;
    //margin-bottom: 12px;

    .part {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;

      &::after {
        content: '-';
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.3em;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  .card-footer {
    //display: flex;
    //justify-content: space-between;

    .label {
      font-size: 10px;
    }

    .value {
      font-size: 12px;
      font-weight: 600;
      //max-width: 100px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: right;
      //line-height: 16px;
    }
  }
}

.bank-card.with-more-button {
  .more-button {
    position: absolute;
    left: 12px;
    top: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url('assets/bank-card-more-icon.svg') no-repeat 0 0/24px;
  }
}

.mask-expire-date {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mask-bullet {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: white;
  display: inline-block;
  margin: 0 2px;
}

.bank-card.transfer-layout {
  min-height: 50px;

  .bank-image {
    width: 40px;
    flex-grow: 0;
  }

  .body {
    flex-grow: 1;
  }

  .transfer-layout-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    .info-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 12px;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .label {
      font-size: 10px;
      color: rgba(255, 255, 255, 1);
      font-weight: 200;
    }

    .pan {
      font-size: 12px;
      color: #fff;
      direction: ltr;

      .part {
        display: inline-block;
        vertical-align: middle;

        &::after {
          content: '-';
          display: inline-block;
          vertical-align: middle;
          margin: 0 0.3em;
        }

        &:last-child::after {
          display: none;
        }
      }
    }

    .info-row {
      .holder-name,
      .bank-title {
        padding: 0;
        font-size: 12px;
        color: #fff;
        margin: 0;
      }
    }
  }
}

.bank-card.disable-card {
  opacity: 0.5;

  .part,
  .bank-title,
  .card-footer {
    opacity: 0.65;
  }
}

.disable-bank {
  background-color: $swatch_steel_700;
  color: #fff;
  font-size: 10px;
  padding: 8px;
  border-radius: 16px;
  position: absolute;
  bottom: 20px;
  right: 14px;
  pointer-events: none;
}

@include mediaMaxWidth(340px) {
  .bank-card {
    .card-number {
      font-size: 16px;
    }

    .card-footer {
      .value {
        max-width: 120px;
      }
    }
  }
}
