<div class="offer-card">
  <div class="offer-card-header">
    <div class="offer-card-icon"></div>
    <div class="content-col">
      <div class="primary-line">
        <div class="main-title">دریافت وام</div>
      </div>
      <div class="secondary-line">
        معتبرها آسوده خرید می‌کنند!
      </div>
      <div class="small-secondary-line">
        دریافت وام تا ۵۰ میلیون
      </div>
      <div class="offer-message">
        {{ offer.message.text }}
      </div>
    </div>
  </div>
</div>
