<div class="tac-info">
  <div class="tac-info-title">
    <div class="title">
      قوانین و مقررات:
    </div>
    <div class="close-icon">
      <div class="close" (click)="onClose()"></div>
    </div>
  </div>

  <div class="tac-info-box">
    <h4>شرایط عمومی استفاده از خدمات دیجی‌پی برای تمام خدمات و محصولات</h4>
    <p>شرکت نوآوران پرداخت مجازی ایرانیان به شماره ثبت ۵۲۷۸۰۳ مالک علامت تجاری دیجی پی و صاحب امتیاز نرم افزار و پلتفرم
      و وب سایت دیجی‌پی که از این پس «دیجی‌پی» نامیده می‌شود از یک طرف و کاربر نرم افزار دیجی‌پی یا دریافت کنندگان خدمات
      و محصولات که از این پس «کاربر» نامیده می‌شود منعقد شد. توافقات حاضر تابع تمامی قوانین و مقررات جمهوری اسلامی ایران
      به منظور تعیین تعهدات و تکالیف طرفین در خصوص خدمات ، میباشد </p>
    <p>با توجه به اینکه نمایش متن حاضر به منزله ایجاب دیجی پی است، تایید و پذیرش تعهدات و شرایط استفاده حاضر از سوی
      کاربر به منزله قبول و تایید الکترونیکی قراردادهای مرتبط و پیوست در لینکها و تعهدات زیر می‌باشد.</p>
    <p>کاربر اعلام و اقرار می‌کند کلیه مقررات و شروط مندرج در شرایط عمومی استفاده از خدمات پرداخت دیجی‌پی را مطالعه و
      ملتزم گردیده است و این مقررات و تعهدات، به منظور ارائه هر گونه خدمات قابل دریافت از طریق نرم افزار ها و پلتفرم های
      و وب سایت دیجی پی مورد قبول قرار گرفته است. سایر پیوست ها و لینکها متن حاضر و نیز حسب مورد مقررات و شرایط
      قراردادها با کاربر در این قرارداد نیز لازم الاجرا خواهد بود. استفاده کاربر از پلتفرم یا خدمات دیجی پی نیز صرف نظر
      از دلایل دیگر، به معنی التزام به تعهدات متن حاضر و الحاقات و اصلاحات (روزآمد) آن میباشد. </p>
    <h4>تعاریف : </h4>
    <p>
      1) "پذیرندگان یا پذیرنده": کلیه فروشندگان یا ارائه دهندگان خدمات طرف قرارداد با دیجی‌پی که دیجی‌پی، کالا یا خدمات
      ایشان را برای کاربران قابل دسترس قرارداده است.
    </p>
    <p>
      2) "کیف پول دیجی‌پی": کیف پول الکترونیکی با قابلیت استفاده موجودی در پلتفرم و یا انتقال به حساب می باشد.
    </p>
    <p>1. چنانچه کاربر از طریق دیجی‌پی اقدام به دریافت هر گونه کالا یا خدمات نماید یا در فرایند احراز هویت دریافت پیامک
      یا کد تایید نماید یا یا حسب مرجوعه (ریفاند) هر گونه کالا یا خدمات منتهی به ایجاد کیف پول یا ایجاد حساب کاربرای
      برای وی گردد، به معنی این است کلیه قراردادهای مربوطه مورد قبول وی بوده و تایید قراردادهای موصوف به منزله امضای
      کاربر می‌باشد.</p>
    <p>
      2. دفاتر و صورت حساب های دیجی‌پی در هر مورد برای طرفین معتبر و غیر قابل اعتراض بوده و تشخیص تخلف از هر یك از
      شرایط و مقررات و تعهدات ناشی از این قرارداد(و پیوستهای آن) با دیجی‌پی میباشد و تفسیر و تعبیر دیجی‌پی برای کاربر
      الزام آور است.
      به هر کاربر یک سقف اعتبار و یک اکانت تعلق میگیرد و شماره تلفن همراه ثبت شده در پلتفرم دیجی پی باید در مالکیت شخص
      کاربر درخواست کننده خدمات باشد. از این رو کاربر تعهد نمود قبل از انتقال سیم کارت مراتب را به دیجی پی اطلاع رسانی و
      کلیه دیون خود را در قالب دین حال به همراه وجه التزام احتمالی بلافاصله تسویه و به دیجی پی پرداخت نماید. مالک خط
      تلفن همراه که از طریق آن، از خدمات دیجی‌پی بهره برداری می‌کند مسئول ایفای کلیه تعهدات بوده و هیچگونه عذری در خصوص
      استفاده دیگران از خط مذکور مسموع نخواهد بود..
    </p>
    <p>
      3. کاربر متعهد گردید در صورتی که کاربر به دیجی پی یا تامین کنندگان مالی وی یا فروشگاهاه (پذیرندگان) بدهی دارد،
      پرداخت مذکور در قالب مبلغ اقساط یا سایر موارد را در موعد سررسید بدواً از طریق پلتفرم دیجی پی پرداخت نماید.
    </p>
    <p>
      4. در صورت تخلف یا نقض تعهد از سوی کاربر و وجود دیون موجل کاربر، دیون موجل کاربر تبدیل به دین حال میگردد.
    </p>
    <p>
      5. در صورت سررسید شدن اقساط یا معوق شدن دیون کاربر، دیجی‌پی میتواند از هرگونه وجوهی كه به وی پرداخت می شود و یا از
      حساب ها و اموال کاربر نزد خود برداشت نماید.
    </p>
    <p>
      6. در صورت نقض تعهد یا تاخیر اجرای تعهد از سوی کاربر، دیجی پی میتواند از ارائه خدمات یا کالا(مرتبط با خدماتش) به
      کاربر امتناع نماید و همچنین حساب کاربری وی به حالت تعلیق درآید. در این صورت کاربر همچنان مشمول وجه التزام تعهدات
      مرتبط می باشد.
    </p>
    <p>
      7. کاربر به دیجی‌پی اجازه و اختیارداده است که در صورت عدم ایفای تعهدات مالی کاربر یا تاخیر وی در ، نام و مشخصات
      کاربر را در لیست مشتریان بدحساب درج کرده و از ارائه خدمات به وی خودداری کند. همچنین دیجی‌پی می‌تواند نام کاربر را
      به هریک از مراجع قانونی و قضایی اعم از بانک مرکزی و نهادهای اعتبار‌سنجی اعلام کند.
    </p>
    <p>
      8. در هنگام هر خرید یا دریافت خدمات اعتبار، قرارداد مربوطه (مانند قرارداد مرابحه یا قرارداد خرید اقساطی) به رویت و
      تایید کاربر رسیده و تایید قراردادهای مذکور به منزله تایید قرارداد نهایی که شامل تمامی قرادادهای پیشین بوده و پس از
      انقضاء مهلت خرید ایجاد می گردد نیز می باشد و مورد استناد مراجع ذیصلاح قرار خواهد گرفت.
    </p>
    <p>
      9. کاربر صرفا ًبه صورت شخصی، از اکانت خود در پلتفرم دیجی پی میتواند استفاده نماید و حق در اختیار گذاشتن کلمه عبور
      و رمز ورود اکانت مذکور به ثالث را ندارد. در صورت تخلف، کاربر مسئول کلیه تعهدات مربوطه و جبران خسارات احتمالی وارده
      به دیجی پی خواهد بود.
    </p>
    <p>
      10. کاربر حق انتقال یا واگذاری اکانت یا اعتبار یا تسهیلات خود به ثالث و یا دراختیار قرار دادن یا ایجاد دسترسی ثالث
      به اکانت خود را ندارد. در صورت تخلف، کاربر مسئول کلیه تعهدات مربوطه و جبران خسارات احتمالی وارده به دیجی پی خواهد
      بود. به کاربر اخطار میگردد از ذخیره سازی کلمه یا رمز عبور در تلفن یا سیستم خود داری نماید و و بصورت دوره ای در
      فواصل کوتاه آن را تغییر نماید.
    </p>
    <p>
      11. کاربر متعهد است بصورت دوره ای در فواصل کوتاه و قبل از استفاده از هر خدمات از شرایط و نحوه استفاده آن که بروز
      رسانی خواهد شد مطلع و مشاهده نماید بدیهی است استمرار استفاده از خدمات دیجی پی توسط کاربر به منزله تایید و پذیرش
      موارد روزآمد خواهد بود.
    </p>
    <p>
      12. در صورتی که به سبب فعالیت کاربر در فضای مجازی و استفاده از خدمات دیجی‌پی هر سازمان، نهاد یا مرجع ذی صلاح،
      دیجی پی را جریمه یا مجازات نماید، خسارت وارده یا جریمه مذکور از کاربر دریافت می گردد.
    </p>
    <p>
      13. کاربر متعهد به حفظ و نیز عدم افشاء متن حاضر و نیز اطلاعاتی که به سبب متن حاضر یا استفاده از پلتفرم دیجی پی بین
      طرفین مبادله می گردد، می باشد. تعهد حاضر با فسخ، خاتمه یا انحلال توافق حاضر همچنان برای کاربر الزام آور میباشد.
    </p>
    <p>
      14. در صورت نقض تعهد از سوی کاربر، در مواردی که وجه التزام مشخص جهت نقض یا تاخیر اجرای تعهد کاربر مشخص نگردیده
      است، در صورت ورود خسارت به دیجی پی میزان خسارت حسب نظر مرجع ذیصلاح قانونی تعیین و کاربر ملزم به پرداخت میباشد.
    </p>
    <p>
      15. کاربر متعهد است همواره در استفاده از پلتفرم دیجی پی و حساب کاربری خود حسن نیت داشته باشد و از هر گونه اقدام که
      موجب ورود خسارت مادی یا معنوی به دیجی‌پی گردد امتناع نماید.
    </p>
    <p>
      16. استفاده کاربر از حساب کاربری در پلتفرم دیجی پی برای کاربر هیچگونه حقی ایجاد نخواهد کرد. کلیه حقوق مادی و معنوی
      پلتفرم دیجی پی متعلق یه دیجی پی میباشد.
    </p>
    <p>
      17. کاربر متعهد است اقدامات خود در پلتفرم دیجی پی را مطابق قوانین و مقررات جمهوری اسلامی ایران منطبق نماید.
    </p>
    <p>
      18. مسئولیت هرگونه سوء استفاده از اکانت کاربر، از جمله موارد حقوقی یا کیفری بر عهده کاربر می باشد.
    </p>
    <p>
      19. در صورت درخواست مقام های ذیصلاح، اطلاعات کاربر در اختیار مقام ذیصلاح قانونی قرار می گیرد.
    </p>
    <p>
      20. در صورت دریافت ابلاغ قضائی یا دستور ضابطان دادگستری مبنی بر انسداد یا تعلیق حساب کاربری، توقیف وجه یا کالا ،
      دستور واصله در حساب کاربر اعمال خواهد شد. دیجی پی می تواند مانع ارسال کالا از سوی پذیرنده و نیز تحویل کالا یا
      ارائه خدمات به کاربر گردد. دیجی پی میتواند در صورت نقض تعهد از سوی کاربر، کالا خریداری شده توسط کاربر از پذیرنده
      ها را در قالب نوعی تضمین اجرای تعهد کاربر، در قبض خود نگهداری نماید.
    </p>
    <p>
      21. عضویت یا استفاده کاربر در این پلتفرم به معنای اطلاع کامل از متن این تعهدات و التزام وی و پذیرفتن کلیه مفاد
      حاضر و الحاقات و متمم های بعدی ابلاغی دیجی پی آن جهت استفاده از این پلتفرم می باشد.
    </p>
    <p>
      22. الحاقیه یا ابلاغ های بعدی دیجی پی یا مواردی که مبنی بر تغییر نحوه استفاده از سقف اعتبار از طریق پلتفرم یا سایت
      دیجی پی یا از طریق ارسال پیامک به کاربر اعلام میگردد برای کاربر ایجاد التزام مینماید و الحاق به قرارداد حاضر
      می باشد.
    </p>
    <p>
      23. دیجی پی میتواند شرایط و نحوه استفاده را بروزرسانی نماید. در صورت بروزرسانی، استمرار استفاده کاربر یا عدم
      درخواست رسمی مسدودی اکانت از سوی کاربر بلافاصله پس از بروزرسانی، به معنی پذیرش تغییرات از سوی کاربر می باشد.
    </p>
    <p>
      24. تعهداتی که بر اساس تعهد حاضر برای کاربر ایجاد گردیده است در صورت ابطال بخشی از مفاد یا مواد خاص همچنان برای
      کاربر ایجاد التزام می نماید. مسدود شدن حساب کاربری کاربر یا هر گونه قطع خدمات از سوی پذیرنده یا دیجی پی یا استفاده
      از حق فسخ از سوی دیجی پی، تاثیری بر تعهدات کاربر که مطابق تعهدات قراردادی ایجاد گردیده است نخواهد داشت.
    </p>
    <p>
      25. در صورت بروز هرگونه اشتباه در محاسبات دیجی پی میتواند به تشخیص خود اشتباه مذکور را اصلاح نماید و یا از کیف پول
      یا اعتبار کاربر جهت تصحیح اشتباه برداشت یا کسر یا اصلاح نماید.
    </p>
    <p>
      26. در صورتی که کاربر در سامانه های یک یا تمام پذیرندگان مسدود باشد مسئولیتی متوجه دیجی پی نخواهد بود و کاربر باید
      پیش از اقدام به ثبت نام امکان خرید یا عدم مسدودی حساب کاربری خود را در سامانه های پذیرنده کنترل و بررسی نماید.
    </p>
    <p>
      27. نشانی اعلام شده برای ارسال کالاهای خریدهای اقساطی از پذیرندگان دیجی‌پی، بعنوان نشانی کاربر تلقی گردیده و در
      صورت لزوم دیجی‌پی این حق را خواهد داشت که آنها را ذخیره کرده و در پیگیری های خود به آن استناد نماید و کاربر حق
      هرگونه اعتراض را از خود سلب و ساقط می‌کند.
    </p>
    <p>
      28. دیجی پی هیچ گونه مسئولیتی نسبت به هر گونه ایراد و یا ادعای خسارتی که از سوی پذیرنده به کاربر به جز مواردی که
      در متن این قرارداد و یا به صورت مکتوب موخر بر انعقاد این قرارداد با پذیرنده توافق می گردد، نخواهد داشت. هر گونه
      عیب و نقض یا کیفیت کالا یا خدمات پذیرنده مسئولیتی برای دیجی پی ایجاد نخواهد داشت.
    </p>
    <p>
      29. در صورتی که هر گونه قوانین، دستورالعملها و مقررات مرتبط با اختیارات یا تعهدات دیجی پی تغییر نماید به نحوی که
      مانع اجرای تعهد یا تعهدات دیجی پی گردد یا هریک از مجوزهای دیجی پی سلب، تعلیق یا خاتمه یابد یا به نحوی هر گونه
      الزامی از سوی نهاد یا مقام های نظارتی یا قضایی یا شبه قضایی خطاب به دیجی پی جهت تغییر تعهدات قراردادی یا اجرایی وی
      ابلاغ یا اعلام گردد، دیجی پی میتواند ارائه خدمات موضوع قرارداد را متوقف نماید. کاربر حق هر گونه اعتراض را در این
      خصوص از خود سلب و ساقط نمود.
    </p>
    <p>
      30. در صورت بروز هر گونه مشکل در روند تأمین، فروش کالا و خدمات یا خدمات پس از فروش که ناشی از قصور پذیرنده باشد،
      مسئولیتی متوجه دیجی پی نمی باشد.
    </p>
    <p>
      31. در صورتی که کاربر در اجرای تعهدات مالی خود تاخیر نماید، دیجی پی میتواند اطلاعات کاربر را به عنوان کاربر بدحساب
      به مراجع و سامانه های اعتبار سنجی اعلام نماید بدیهی است که این امر در کاهش رتبه اعتباری کاربر در نظام اعتبار سنجی
      و ایجاد محدودیت های متعاقب آن تاثیر خواهد داشت.
    </p>
    <p>
      32. دیجی پی میتواند در هر زمان ارائه خدمات به کاربر را قطع و نیز میتواند حساب کاربری کاربر را (بدون پرداخت خسارت)
      مسدود نماید، صرف نظر از این اختیار دیجی پی میتواند این از این توافق بدون پرداخت خسارت خارج گردد.
    </p>
    <p>
      33. کاربر موافقت نمود که دیجی پی برخی داده های ناشی از فعالیت کاربر در پلتفرم خود را جهت تایید برخی خدمات ضروری
      است یا جهت بهبود خدمات و توسعه پلتفرم استفاده و پردازش نماید. استفاده از اپلیکیشن دیجی پی نیازمند تایید دسترسی
      کاربر به برخی موارد است که کاربر در فرایند نصب و استفاده دسترسی مورد نیاز اعطاء میگردد. دیجی پی در جهت حفاظت داده
      های مذکور تلاش مینماید.
    </p>
    <p>
      34. دیجی پی می‌توانیم با توجه به عملکرد کاربران اقدام به ارائه امتیازهایی به صورت جایزه به آنها داشته باشیم، این
      امتیازها ممکن است با زمان استفاده محدود یا بدون آن در نظر گرفته شوند. دیجی پی این اختیار را دارد که هر زمان و بسته
      به صلاحدید خود اقدام به حذف امتیازهای جایزه ارائه شده که توسط کاربر استفاده نشده‌اند نماییم.
    </p>
    <p>
      35. استفاده از پلتفرم دیجی پی با توجه به آثار و تعهدات مالی آن برای افراد بالای سن 18 سال میباشد.
    </p>
    <p>
      36. الزامات و قوانین جمهوری اسلامی ایران از جمله دستور العمل های بانک مرکزی و شاپرک مخصوصا در حوزه احراز هویت و
      ورود به اپلیکیشن دیجی پی برای کاربران لازم الاجرا است.
    </p>
    <p>
      37. کاربران میتوانند از طریق ایمیل Mcredit.support&#64;mydigipay.com و شماره تلفن 02153924000  با دیجی پی در تماس
      باشند.
    </p>
    <p>
      38. کاربر متعهد است پیامهای (OTP) دریافتی ناشی از فرایند احراز هویت را محرمانه نزد خود نگه دارد و به هیچ عنوان در
      اختیار فرد دیگری قرار ندهد.
    </p>
    <p>
      جهت ایجاد امنیت بیشتر و ایجاد بازدارندگی از ورود خسارت به کاربر ، فرایند ثبت نام و ورود به حساب کاربری توسط خود
      کاربر و با استفاده از تلفن همراه یا سیستم رایانه شخصی خود وی میبایست انجام پذیرد.
    </p>
    <p>
      40. پذیرندگان میبایست دارای نماد اعتماد الکترونیک باشند.
    </p>
    <p>
      41. در صورتی که در فرایند های دیجی پی جهت ارائه خدمات فرایند اعتبار سنجی یا ارسال یا دریافت چک و سایر خدمات باشد
      وجه خدمات مربوطه از کاربر دریافت میگردد بدیهی است دیجی پی میتواند از اطلاعات ناشی از موارد مذکور استفاده و
      بهره برداری نماید.
    </p>
    <p>
      42. کاربر حق هرگونه اعتراض را در خصوص اقدامات و تصمیمات دیجیپی نسبت به موارد مندرج در متن حاضر از خود سلب و ساقط
      نموده است.
    </p>
    <p>
      43. کلیه حقوق مادی و معنوی دیجی‌پی و علائم تجاری آن متعلق به شرکت نوآوران پرداخت مجازی ایرانیان (سهامی خاص) به
      شماره ثبت ۵۲۷۸۰۳ است.
    </p>
    <p>
      44. هرگونه کپی‌برداری، استفاده غیرمجاز از نام، مطالب، مستندات و علائم تجاری دیجی‌پی بدون مجوز کتبی این شرکت و سعی
      در نفوذ به داده‌های دیجی‌پی، مطابق کلیه قوانین جاری کشور، غیرمجاز تلقی شده و دیجی‌پی حق پی‌گرد قانونی در مراجع
      ذی‌صلاح را برای خود محفوظ می‌دارد.
    </p>
    <p>
      45. حقوق مالکیت معنوی و فکری همه علائم تجاری ثبت شده، اجزای فنی اپلیکیشن و جزییات هویت برند دیجی‌پی، متعلق به شرکت
      نوآوران پرداخت مجازی ایرانیان (سهامی خاص) به شماره ثبت ۵۲۷۸۰۳ است و کاربر مجاز به استفاده از آن‌ها برای کاربردهای
      شخصی نخواهد بود.
    </p>
    <p>
      46. کاربر میبایست در صورت مشاهده هرگونه عملیات غیرمجاز نسبت به اکانت خود، مراتب را در اولین فرصت به پشتیبانی
      دیجی‌پی اطلاع دهد.
    </p>
    <p>
      47. دیجی‌پی نسبت به پایداری برقراری سرویس‌ها تلاش کرده و در صورت مشاهده هر اختلال حتی با وجود خارج بودن از حوزه
      اختیارات، آن را پی‌گیری خواهد کرد، اما در مقابل بروز مشکلات زیرساختی که از محدوده اختیارات این مجموعه خارج باشد
      (همچون اختلال در شبکه مخابراتی، اختلال در شبکه اینترنتی، وب‌سرویس‌ها و ...) و منجر به اختلال در ارائه خدمات شود،
      مسئولیت اصلی متوجه سرویس‌دهنده‌ زیرساخت است و دیجی‌پی مسئولیتی بر عهده نخواهد داشت. با وجود این دیجی‌پی تا زمان به
      نتیجه رسیدن، همه اختلال‌ها را پی‌گیری خواهد کرد و تا زمان برطرف شدن کامل اختلال در کنار کاربران خواهد بود.
    </p>
    <h4>
      تسهیلات خرید دین
    </h4>
    <p>
      1. در این خدمات کاربران به عنوان دارندگان طلب موجل، مطالبات وعده دار خود را جهت فروش به خریداران طلب منتقل
      مینمایند و وجه نقدی تنزیل شده ای را مطابق نرخ اعلامی خریدار طلب دریافت مینمایند.
    </p>
    <p>
      2. تامین کننده وجه یا خریداری طلب میتواند به انتخاب دیجی پی از میان موسسات اعتباری، بانک ها یا سایر اشخاص باشد.
    </p>
    <p>
      3. کلیه تضامین قرارداد پایه (سبب ایجاد طلب) به خریدار طلب منتقل میگردد. کاربر متعهد است تضامین مذکور را همزمان با
      انعقاد خرید دین به خریدار منتقل نماید.
    </p>
    <p>
      4. در صورت تحقق خرید دین کاربر حق فسخ یا انحلال قرارداد پایه (سبب ایجاد دین) را نخواهد داشت.
    </p>
    <p>
      5. کاربر اقرار مینماید که قرارداد پایه (سبب ایجاد طلب) قرارداد واقعی بوده و به هیچ عنوان صوری یا بابت فرار از دین
      نمیباشد.
    </p>
    <p>
      6. کاربر به عنوان طابکار پیشین ، پرداخت کلیه پرداخت کلیه مطالبات ناشی از خرید دین را در سررسید تضمین مینماید و
      همچنین ضامن جرایم تاخیر و وجه التزام ناشی از آن است.
    </p>
    <p>
      7. مسئولیت صحت اصالت کلیه مدارک و مستندات بارگزاری شده بر روی سامانه و همچنین استعلام اعتبارسنجی و دیگر استعلامات
      مورد نیاز ، تماما بر عهده کاربر است و چنانچه پس از بررسی دیجی پی هرگونه اختلافی مشاهده گردد، دیجی پی هیچ تکلیفی در
      خصوص اعطاء تسهیلات به مشتری نداشته و کارمزد های پرداختی مشتری تا مرحله مورد نظر از مشتری کسر خواهد شد .
    </p>
    <p>
      8. مشتری با تأیید این صفحه و اعطای اختیارات فوق، حق هرگونه دادخواهی، اعلام دعوی و مطالبه خسارت و صدمه ناشی از
      استفاده و پردازش اطلاعات سامانه اعتبارسنجی شرکت ، به استفاده کنندگان مجاز از سوی بانک مرکزی جمهوری اسلامی ایران را
      از خود سلب می نماید.
    </p>
    <p>
      9. در صورت هر گونه انحلال قرارداد "پایه (سبب ایجاد طلب)" کاربر متعهد است کلیه خسارات وارده بر دیجی پی و خریدار طلب
      را جبران نماید. کاربر تضمین مینماید که انحلال قرارداد "پایه (سبب ایجاد طلب)" یا هر گونه ادعای از سوی مدیون یا ثالث
      هیچگونه خلل یا تعارضی به منافع و حق دیجی پی یا خریدار دین ایجاد نخواهد نمود.
    </p>
  </div>
  <div class="footer-section">
    <ng-button (clickHandler)="onClose()"
               buttonSize="medium"
               [fullWidth]="true"
               [buttonText]="'مطالعه کردم'">
    </ng-button>
  </div>

</div>
