.c-registration-row {
  width: 360px;

  .wrapper {
    width: 320px;
    text-align: center;
  }

  .c-registration-col {
    width: 33.33%;

    img {
      width: 100%;
      max-width: 320px;
    }
  }
}

@media (max-width: 1280px) {
  .registration-title {
    margin-top: 12px;
    font-size: 18px !important;
  }
  .c-registration-row {
    flex-direction: column;
    width: 100% !important;

    .wrapper {
      margin: 0 auto;
    }

    .c-registration-col {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  .registration-section {
    flex-direction: column;
  }
}
