<div class="radius-minus surface-back mb-big px-medium">
  <div class="flex py-medium border-b-300 border-color-light items-start">
    <img alt="..." src="assets/installment-pay-link/single-note-icon.svg">
    <span class="mr-low text-on-action-invert fs-12">{{ title() }}</span>
  </div>
  <a href="https://app.mydigipay.com" target="_blank">
    <div class="flex justify-end items-center py-low">
      <span class="py-minus text-brand ml-micro fs-12">{{ linkTitle() }}</span>
      <img alt="..." src="assets/installment-pay-link/single-note-arrow-icon.svg">
    </div>
  </a>
</div>
