<div class="error-page">
  <div class="error-box">
    <div class="error-image-wrapper">
      <div class="error-image"></div>
    </div>
    <div class="error-title">زمان درخواست شما تمام شد</div>
    <div class="error-description">
      مدت زمان تکمیل در خواست شما بر اساس ملاحظات امنیتی پایان یافت برای ادامه فرایند در خواست مجددا تلاش نمایید
    </div>
    <div class="cta-wrapper">
      <ui-button (click)="exit()">
        <div class="button-content">
          <mat-icon>cached</mat-icon>
          <span>شروع مجدد</span>
        </div>
      </ui-button>
    </div>
  </div>
</div>
