@import '../../../../styles/layout/variables';
.estimation-wrapper {
    width: 100%;
    margin: 0 auto;
}

.estimation-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid $swatch_steel_200;
    &__title-holder {
        display: flex;
        align-items: center;
    }
    &__close-icon {
        cursor: pointer;
    }
    &__title {
        margin-right: 16px;
        font-size: 18px;
        font-weight: 500;
        color: $swatch_steel_700;
    }
}

.estimation-body {
    width: 100%;
    padding: 24px 26px 32px 26px;
    &__title-holder {
        width: 100%;
        padding-right: 16px;
        margin-bottom: 24px;
        span {
            font-size: 14px;
            font-weight: bold;
            color: $swatch_steel_900;
        }
    }
}

.checkbox-box {
  input {
    display: none;
  }
  .checkbox-label {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid $swatch_steel_200;
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    .checkbox-check-mark {
      flex: 0 0 auto;
      position: relative;
      display: block;
      width: 22px;
      height: 22px;
      border: 3px solid $swatch_steel_200;
      background-color: #FFFFFF;
      border-radius: 6px;
      &:after {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url('./check-icon.svg');
        display: block;
        position: absolute;
        top: -4px;
        left: -4px;
      }
    }
    .checkbox-text {
      margin-right: 8px;
      display: block;
    }
  }
  input:checked ~ .checkbox-label{
    border-color: $swatch_blue_700;
    background-color: $swatch_blue_100;
    .checkbox-check-mark {
      background-color: $swatch_blue_700;
      border-color: $swatch_blue_700;
    }
    .checkbox-text {
      color: $swatch_blue_500;
      font-weight: bold;
    }
  }
  input.disabled ~ .checkbox-label {
    border: 1px solid $swatch_steel_200;
    background-color: transparent;
    .checkbox-check-mark {
      background-color: $swatch_steel_200;
      border-color: $swatch_steel_200;
    }
    .checkbox-text {
      color: $swatch_steel_900;
      font-weight: normal;
    }
  }
}

.estimation-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $swatch_steel_100;
    border-top: 1px solid $swatch_steel_200;
    padding: 14px 30px 18px 27px;
    &__title {
        span {
            color: $swatch_steel_500;
            font-size: 12px;
            font-weight: bold;
        }
    }
    &__price {
        span {
            color: $swatch_steel_900;
            font-size: 18px;
            font-weight: bold;
        }
    }
}
