<div
  #bankCard
  (mouseup)="clickedEvent()"
  [ngStyle]="{ cursor: selectable ? 'pointer' : 'default' }"
  class="bank-card"
>
  <div
    [attr.style]="'--bg1:' + bg"
    [class.small]="small"
    class="card"
  >
    <div class="top-section">
      <div class="bank-icon">
        <ui-api-image
          [imageId]="cardInfo.logoImageId"
          width="32"
        ></ui-api-image>
      </div>
      <div class="bank-name">
        {{ (cardInfo.bankName.indexOf('بانک') === 0 && small ? '' : ' بانک ') + cardInfo.bankName }}
      </div>
      <div class="bank-card-number">{{ cardNumber }}</div>
    </div>
    <div class="owner-name">
      {{ cardInfo.cardOwner || cardInfo.cardHolder }}
    </div>
    <div class="back-ground">
      <ui-api-image [imageId]="cardInfo.imageId"></ui-api-image>
    </div>
  </div>
</div>
