<div class="right-side">
  <div class="top-section">
    <app-ui-scrollable-view>
      <div class="header-title">{{ step.title }}</div>
      <div
        *ngIf="step.info.conditions && step.info.conditions && step.info.conditions.description"
        class="detail-item"
      >
        <div
          *ngIf="selectedPlanGroup.filingPaymentAmount"
          class="detail-message"
        >
          <p>
            هزینه ثبت نام با
            <b>
              &nbsp;
              {{ collateral.name }}
              {{ selectedPlanGroup.filingPaymentAmount | numberToString }}
              ریال.
            </b>
          </p>
          <br />
        </div>
        <div
          *ngIf="selectedPlanGroup.collateralAmount"
          class="detail-message"
        >
          <p>
            مبلغ ضمانت
            <b>
              &nbsp;
              {{ selectedPlanGroup.collateralAmount | numberToString }}
              ریال
            </b>
          </p>
          <br />
        </div>

        <div
          [innerHTML]="step.info.conditions.description | safeHtml"
          class="detail-message"
        ></div>
        <div
          *ngIf="collateral.type === 'NEW_CHEQUE'"
          class="detail-message"
        >
          <br />
          <p>تنها چک صیادی بنفش رنگ مطابق نمونه مورد قبول است.</p>
        </div>
      </div>
    </app-ui-scrollable-view>
  </div>

  <div class="bottom-section">
    <div class="confirm-checkbox-box d-flex">
      <div
        [ngClass]="{ 'warning-shack-x': warningShake }"
        class="confirm-checkbox"
      >
        <ngx-checkbox [(checked)]="accepted"> مطالعه کردم و می‌پذیرم. </ngx-checkbox>
      </div>
    </div>
    <div class="ctas">
      <app-ui-button
        (click)="back()"
        appearance="FLAT-BLUE"
      >
        <ngx-icon
          [iconSize]="'24'"
          [name]="'arrow-2-right'"
          class="text-onback-brand"
        ></ngx-icon>
        قبلی
      </app-ui-button>
      <app-ui-button
        (click)="next()"
        [disabled]="!accepted()"
        class="w-40"
      >
        تایید و ادامه
        <span
          *ngIf="accepted()"
          icon="icon-charon-left-white"
          size="24"
          appUiIcon
        ></span>
      </app-ui-button>
    </div>
  </div>
</div>
<div class="left-side">
  <div
    [ngClass]="{
      'purple-cheque': collateral.type === 'NEW_CHEQUE' || step.image === 'purple-cheque',
      'e-note': collateral.type === 'E_NOTE',
      'based-on-score': collateral.type === 'BASED_ON_SCORE',
      'installment-cheque': step.image === 'installment-cheque',
    }"
    class="cheque-image"
  ></div>
</div>
