<div class="container">
  <div class="status-image"></div>
  <p class="title">بررسی رتبه اعتباری</p>
  <p class="description">در حال بررسی اعتبار و سوابق مالی شما هستیم. پس از بررسی، نتیجه را از طریق پیامک به شما اطلاع‌رسانی می‌کنیم.</p>
  <ngx-button
    (click)="navigate()"
    [style]="'tinted-on-elevated'"
    class="full-width"
    >متوجه شدم</ngx-button
  >

  <div class="support-info">
    <p class="support-label">شماره پشتیبانی:</p>
    <p
      class="support-number"
      lang="fa"
    >
      <a href="tel:02153924000">021-53924000 (3)</a>
    </p>
  </div>
</div>
