@import "globals";

::ng-deep app-page-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
}

iframe {
  width: 100%;
  flex-grow: 1;
}

.iframe-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

@include mediaMobile() {
  .iframe-container {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
}

@include mediaMobile() {
  ::ng-deep .page-dialog-component {
    width: 100%;
    height: 100%;
    max-width: 100% !important;

    .mat-mdc-dialog-container {
      border-radius: 0;
    }
  }
}

@include mediaDesktop() {
  ::ng-deep .page-dialog-component {
    width: 600px;
    height: 90%;
    max-width: 90% !important;
  }
}
