@import "globals";



.top-posts {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  .non-desktop {
    display: none;
  }

  .desktop {
    display: flex;
    color: #ffffff;

    .main {
      padding: 25px;
      border-radius: 12px;
      width: 41.6%;
      aspect-ratio: 1/1;
      margin-left: 24px;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer;

      .content {
        position: absolute;
        bottom: 25px;
        width: calc(100% - 50px);

        .title {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 17px;
          color: $swatch_white_900;
        }

        .description {
          font-size: 14px;
          font-weight: 325;
        }
      }
    }

    .rest {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5% 3%;
      width: 63%;

      .item {
        border-radius: 12px;
        aspect-ratio: 1/1;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        width: auto;
        display: block;

        .content {
          padding: 0 9px;
          position: absolute;
          bottom: 17px;

          .title {
            font-size: 11px;
            font-weight: 600;
            color: $swatch_white_900;
          }
        }
      }
    }
  }

  ::ng-deep {
    .swiper-pagination {
      overflow: unset;
    }
  }
}

@media (max-width: 1280px) {
  .top-posts {
    margin: 0 40px 0 0;
    display: flex;
    color: #ffffff;
    width: calc(100% - 40px);
    max-width: 1280px;

    .desktop {
      display: none;
    }

    .non-desktop {
      overflow: hidden;
      display: block;
      height: fit-content;
      padding-bottom: 32px;

      ::ng-deep {
        .swiper-pagination {
          transform: translateY(40px);
        }
      }
    }
  }
}

:host ::ng-deep {
  .similar-service {
    overflow: hidden;
  }

  .swiper {
    padding-right: 23px;
    overflow: visible;
  }

  .similar-service-card.swiper-container {
    overflow: visible;
  }

  .similar-service-card {
    width: 100%;
  }

  .swiper-wrapper {
    padding-right: 0;
    justify-content: center;

    & > div:last-child {
      margin-bottom: 0 !important;
    }
  }

  .swiper-pagination-bullet {
    background-color: $swatch_blue_200;
    opacity: 1;
    width: 12px;
    height: 12px;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $swatch_blue_500;
    opacity: 1;
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: unset;
  }

  .similar-service-card-item .content-background {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
    background-position: center;
    display: flex;
    opacity: 1;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;
    cursor: pointer;
    align-items: flex-end;

    .content {
      padding: 25px;

      .title {
        font-size: 16px;
        font-weight: 600;
        color: $swatch_white_900;
      }

      .description {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 325;
      }
    }
  }

  .similar-service-card-item > div {
    opacity: 0.1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .similar-service-card-item > div > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .similar-service-card-item-img {
    width: 100%;
    height: 285px;
    top: 0;
    left: 0;
  }

  .similar-service-card-item-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .similar-service-card__item-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #8d99a8;
  }

  .similar-service-card__item-more {
    color: $swatch_blue_500;
    margin-right: auto;
    display: block;
  }

  .similar-service-card__item-content {
    display: flex;
    align-items: center;
    width: 100%;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .similar-service-card__item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }

  .similar-service-card__item-author-image {
    width: 40px;
    height: 40px;
    margin-left: 8px;
  }

  .similar-service-card__item-author-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .similar-service-card__item-author-name span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $text-color;
  }

  .similar-service-card-item-title > span {
    font-size: 16px;
    font-weight: 600;
  }

  .similar-service-card-item-detail {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }

  .badge__similar-service {
    margin-bottom: 24px;
  }

  .badge__similar-service div {
    width: 6px;
    height: 17px;
    background: #00cc6d;
    border-radius: 10px;
    margin-left: 8px;
  }

  .badge__similar-service > span {
    color: $background-color-03;
    font-size: 12px;
    line-height: 17px;
  }

  .similar-service-card.swiper-container {
    overflow: visible;
  }

  .swiper-slide.swiper-slide-active {
    z-index: 2;
  }

  .similar-service-card-item > div {
    opacity: 1;
  }

  .services-swiper__icon-3d {
    opacity: 1 !important;
  }

  @media (max-width: 1280px) {
    .swiper {
      padding-right: 0;
    }

    .badge__similar-service {
      top: 25px;
      right: 30px;
      left: auto;
    }

    .swiper-wrapper {
      justify-content: unset;
    }
  }

  @media (max-width: 744px) {
    .badge__similar-service {
      top: 25px;
      left: 30px;
      right: auto;
    }
    .similar-service-card-item-title {
      padding-left: 0;
      width: 100%;
    }
    .similar-service-card-item {
      width: 100%;

      .content-background {
        .content {
          padding: 14px;

          .title {
            font-size: 2vw;
            font-weight: 700;
            line-height: 120%;
          }

          .description {
            font-size: 2vw;
            line-height: 150%;
            font-weight: 325;
          }
        }
      }
    }
    .similar-service-category__contain {
      width: 100%;
    }
    .badge__similar-service {
      display: none;
    }
  }
  @media (max-width: 576px) {
    .similar-service-card-item {
      width: 100%;

      .content-background {
        .content {
          padding: 14px;

          .title {
            font-size: 3vw;
            font-weight: 700;
            line-height: 120%;
          }

          .description {
            font-size: 3vw;
            line-height: 150%;
            font-weight: 325;
          }
        }
      }
    }
  }
}
