$item-height: 40px;
$primary-color: blue;

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.select {
  border: 1px solid #e1e1e1;
  background: #fff;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 2px 8px;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.date-picker-numbers-list {
  position: relative;

  .list {
    text-align: center;
    height: 100%;

    li {
      height: $item-height;
      line-height: $item-height;
    }
  }
}
