.shake {
  animation: shake 0.4s linear;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(10px);
  }
  37.5% {
    transform: translateX(-10px);
  }
  62.5% {
    transform: translateX(10px);
  }
  87.5% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
