<div class="service" [ngClass]="{'is-disabled': disabled, 'is-selected': isSelected}" (click)="onClick()">
  <div class="card-col">
    <div class="option-card">
      <div class="logo-col" *ngIf="logo">
        <app-found-provider-logo [logo]="logo" [color]="color"></app-found-provider-logo>
      </div>
      <div class="content-col">
        <div class="primary-line">
          <div class="main-title">{{ title }}</div>
          <div class="small-title" *ngIf="!disabled && subTitle">
            {{subTitle}}
          </div>
          <div *ngIf="disabled" class="disabled-badge">غیرقابل استفاده</div>
        </div>
        <div class="secondary-line">
          {{description}}
        </div>
      </div>
    </div>
  </div>
  <div class="checkbox-col">
    <div class="option-checkbox" [ngClass]="{checked: isSelected}"></div>
  </div>
</div>
