.nobitex-container{
  background-color: #F0F5FF;
  padding: 0 0 64px;
  .campaign-timer {
    ::ng-deep .section-counter {
      .container {
        .content {
          .cta{
            .button-red button{
              outline-color: #FFFFFF;
              background: #FFFFFF;
              color: #424c5c;
              font-size: 15px;
              font-weight: 800;
            }
          }
        }
      }
    }
  }
}
.nobitex-plans{
  text-align: center;
  margin-top: 64px;

  .nobitex-plans-title{
    color:  #000D33;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 32px;
    font-style: normal;
    font-weight: 1000;
    line-height: 32px; /* 100% */;
    display: inline-block;
  }
}



.section-registering {
  width: 100%;
}

@media (max-width: 1280px){
  .nobitex-plans{
    .nobitex-plans-title{
      font-size: 25px;
      margin-bottom: 24px;
    }
  }

}

@media (max-width: 744px){
  .nobitex-plans{
    .nobitex-plans-title{
      font-size: 18px;
    }
  }

}
