@import "../../../../../../style/globals";

.container {
  display: flex;
  flex-direction: row;
  gap: 24px;

  .artwork {
    width: calc((100% - 24px) / 2);

    video {
      max-width: 100%;
      border-radius: 12px;
    }
  }

  .content {
    width: calc((100% - 24px) / 2);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .title {
      color: $swatch_steel_700;
      font-size: 27px;
      font-weight: 950;
    }

    .subtitle {
      font-size: 24px;
      margin-top: 16px;
      margin-bottom: 8px;
      font-weight: 600;
      color: $swatch_steel_700;
    }

    .description {
      color: $swatch_steel_500;
      font-size: 13px;
      font-weight: 400;
    }

    .support {
      width: 100%;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .cta {
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 1280px) {
  .container {
    flex-direction: column;
    gap: 20px;

    .artwork {
      width: 100%;
    }

    .content {
      width: 100%;

      .subtitle {
        font-size: 18px;
        font-weight: 500;
      }

      .description {
        font-weight: 300;
      }

      .title {
        font-size: 21px;
      }

      .support {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 744px) {
  .container {
    .content {
      .subtitle {
        font-size: 13px;
      }

      .title {
        font-size: 17px;
      }
    }
  }
}
