@import "../../../styles/layout/variables";

.header {
  padding: 12px;
  position: relative;

  .title {
    color: rgba(44, 53, 68, 1);
    flex: 1 0;

    .step-number {
      font-weight: bold;
      margin-inline-end: 8px;
    }
  }

  .progress-bar {
    position: absolute;
    height: 4px;
    background: rgba(242, 245, 248, 1);
    right: 0;
    bottom: 0;
    width: 100%;

    .bar {
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 0;
      background: $swatch_blue_400;
    }

  }
}

.step-content {
  padding: 24px;
}
