<div class="container">
  <div class="documentation-contain">
    <div>
      <div class="documentation-text">
        <h2>مستندات فنی</h2>
        <span>برای بررسی مستندات فنی و شروع پیاده‌سازی به لینک روبرو مراجعه کنید</span>
      </div>
      <div class="documentation-cta">
        <div>
          <div class="documentation-button-black">
            <a
              [attr.href]="url"
              title="دریافت مستندات فنی"
              ><span>دریافت مستندات فنی</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="documentation-notice">
      <span>درصورت وجود سوالات فنی درخصوص راه اندازی درگاه با ایمیل {{ email }} مکاتبه فرمایید.</span>
    </div>
  </div>
</div>
