<div class="digipay-date-picker-backdrop" [hidden]="!visible" (click)="backdropClick($event)">
  <div class="digipay-date-picker-ui" [ngStyle]="position" #datePickerUi [ngClass]="{
    'is-default': pickType === 'default',
    'is-month-picker': pickType === 'month-picker'
  }">
    <div class="date-picker-body" *ngIf="pickType === 'default'">
      <div *ngIf="view === 'days'">
        <div class="date-picker-header">
          <span (click)="nextMonth()" class="arrow-right"></span>
          <span *ngIf="currentDate">
          <span class="go-to-month-view" (click)="monthView()">{{currentDate.locale('fa').format('MMMM')}}</span>
          <span class="go-to-year-view" (click)="yearView()">{{currentDate.locale('fa').format('YYYY')}}</span>
        </span>
          <span (click)="prevMonth()" class="arrow-left"></span>
        </div>
        <div class="week-days">
          <span>شنبه</span>
          <span class="is-short">ش</span>
          <span>یکشنبه</span>
          <span class="is-short">ی</span>
          <span>دوشنبه</span>
          <span class="is-short">د</span>
          <span>سه‌شنبه</span>
          <span class="is-short">س</span>
          <span>چهارشنبه</span>
          <span class="is-short">ج</span>
          <span>پنجشنبه</span>
          <span class="is-short">پ</span>
          <span>جمعه</span>
          <span class="is-short">ج</span>
        </div>

        <div class="month-days">
          <div class="week" *ngFor="let week of weeks">
        <span class="day"
              (click)="dayClick(day)"
              *ngFor="let day of week"
              [ngClass]="{
                'is-today': today && day && today.locale('fa').format('YYYY/MM/DD') === day.format('YYYY/MM/DD'),
                'is-selected': isSelectedDay(day),
                'is-selectable': !!day,
                'is-future': this.today && day && day.isAfter(this.today),
                'is-disabled': isDisabledDay(day)
              }"
        >{{day ? day.locale('fa').format('D') : ''}}</span>
          </div>
        </div>
      </div>


      <div *ngIf="view === 'months'" class="month-view">
        <div *ngFor="let month of monthList" class="month"
             [ngClass]="{
              'is-disabled': isDisabledMonth(month)
             }"
             (click)="monthClick(month)">
          <span>{{month.locale('fa').format('MMMM')}}</span>
        </div>
      </div>


      <div *ngIf="view === 'years'" class="year-view">
        <div class="date-picker-header">
          <span (click)="prevYears()" class="arrow-right"></span>
          <span>
          {{years[ years.length - 1 ]}} - {{years[ 0 ]}}
        </span>
          <span (click)="nextYears()" class="arrow-left"></span>
        </div>
        <div class="years">
          <div class="year" *ngFor="let year of years"
               (click)="yearClick(year)"
               [ngClass]="{
                'is-disabled': isDisabledYear(year)
               }"
          >
            <span>{{year}}</span>
          </div>
        </div>
      </div>

    </div>
    <!--  body  -->

    <div class="date-picker-body month-picker" *ngIf="pickType === 'month-picker'">
      <date-picker
        (close)="monthPickerClose($event)"
        [allowFuture]="true"
        [value]="selectedDate ? {year: selectedDate.locale('fa').format('YYYY'), month: selectedDate.locale('fa').format('MM'), day: '01'} : {month: '', year: '', day: ''}"
        [pickers]="{year: true, month: true, day: false}"></date-picker>
    </div>

  </div>
</div>
