@import '../../../../../styles/layout/variables';

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.7;
}

.select-fee-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 37px;
  line-height: 1.7;
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;

  .text {
    flex-grow: 0;
    font-size: 12px;
    font-weight: 400;
    color: $swatch_steel_300;
  }

  .line {
    flex-grow: 1;
    height: 1px;
    background-color: $swatch_steel_200;
  }

}

.iban-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 24px;
}

