::ng-deep {
  #layout {
    background: #f6f8ff;
  }
}

.section-internet-product {
  background-image: linear-gradient(
    to bottom,
    #0040ff 376px,
    rgba(0, 0, 0, 0) 120px
  );

  .content {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 128px;

    h1 {
      display: inline-block;
      position: relative;

      &:before {
        display: block;
        content: '';
        position: absolute;
        background-image: url('/assets/images/marked-arrow.svg');
        background-position: center center;
        margin: 0;
        height: 121px;
        width: 100px;
        right: -116px;
      }
    }

    h1,
    .subtitle {
      color: #ffffff;
    }
  }

  .internet-box {
    .internet {
      max-width: 526px;
      margin: -85px auto 0;
      box-shadow: 0 0 80px rgba(159, 176, 253, 0.24);
      border-radius: 24px;
      background-color: #fff;
    }

    .providers {
      display: flex;
      justify-content: center;
      gap: 24px;
      margin-top: 24px;
    }
  }
}

@media (max-width: 1280px) {
  .section-internet-product {
    .content {
      padding-top: unset;
      padding-bottom: 128px;
    }
  }
}

@media (max-width: 744px) {
  .section-internet-product {
    .content {
      padding-bottom: unset;

      h1:before {
        content: unset;
      }
    }

    .internet-box {
      .internet {
        max-width: unset;
        border-radius: 0;
        margin-top: 0;
        //padding: 24px 0;
      }
    }
  }
}
