@import "globals";

.section-credit-calculator {
  background: $swatch_blue_100;
  width: 100%;

  .animated-switch {
    height: 70px;
    border-radius: 16px;
    border: 2px solid $swatch_steel_200;
    padding: 8px;
    background-color: #fff;

    ::ng-deep {
      .switch {
        background-color: #fff;

        .switch-options {
          background-color: #fff;

          .option {
            color: $swatch_steel_400;
            font-size: 20px;
            font-weight: 900;
          }

          .option.selected {
            color: $swatch_blue_500;
          }

          .selected-option-highlight {
            border-radius: 12px;
            border: 2px solid;
          }
        }
      }
    }
  }

  h2 {
    text-align: center;
    color: $swatch_steel_700;
  }

  .no-plan {
    height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 128px 64px;
    margin-top: 64px;
    border-radius: 24px;
    background: #fff;

    .artwork {
      background: url('./icon-no-plan.svg') center center/cover no-repeat;
      width: 555px;
      height: 296px;

      img {
        max-width: 100%;
      }
    }

    .no-plan-title {
      margin-top: 40px;
      color: $swatch_steel_700;
      font-size: 32px;
      font-weight: 900;
    }

    .no-plan-subtitle {
      margin-top: 24px;
      color: $swatch_steel_500;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      max-width: 575px;
    }
  }

  .plans {
    margin-top: 64px;
    border-radius: 24px;
    background: #fff;
    padding-top: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    &.with-plan-id {
      border-radius: unset;
      padding: unset;
    }

    .title {
      font-size: 27px;
      font-weight: 950;
      color: $swatch_steel_700;
    }

    .plans-list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 24px 48px;

      .plans-types-amounts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
      }
    }

    .credit-plans-next,
    .credit-plans-prev {
      position: absolute;
      background-color: $swatch_blue_100;
      width: 60px;
      height: 60px;
      border-radius: 8px;
      border: 2px solid $swatch_blue_500;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;
      cursor: pointer;

      &.swiper-button-disabled {
        opacity: 0.3;
        cursor: unset;
      }
    }

    .credit-plans-next {
      left: 16px;
    }

    .credit-plans-prev {
      right: 16px;
    }

    .plans-swiper {
      margin: 24px 0;
      width: 790px;
      border-radius: 12px;
      border: 2px solid $swatch_steel_200;
      padding: 24px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ::ng-deep {
      .swiper-button-prev,
      .swiper-button-next {
        background-color: $swatch_blue_100;
        width: 60px;
        height: 60px;
        border-radius: 8px;
        border: 2px solid $swatch_blue_500;
        top: 40px;

        &:after {
          content: '';
          width: 48px;
          height: 48px;
        }
      }

      .swiper-slide {
        opacity: 0.5;
        width: 385px;
        margin: auto;
        display: flex;
        justify-content: center;

        .plan-amount {
          font-size: 26px;
          font-weight: 300;
          transition: font-size 10ms, font-weight 10ms;
          cursor: pointer;

          span {
            margin-right: 8px;
            font-size: 12px;
          }
        }

        &.swiper-slide-active {
          opacity: 1;

          .plan-amount {
            color: $swatch_steel_900;
            font-size: 30px;
            font-weight: 700;

            span {
              font-size: 24px;
            }
          }
        }
      }
    }

    .plan-payments {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center !important;
      gap: 24px;

      .payment-duration {
        font-size: 12px;
        font-weight: 500;
        padding: 8px 32px;
        border-radius: 8px;
        border: 2px solid $swatch_steel_200;
        color: $swatch_steel_200;
        cursor: pointer;
        transition-property: border-color, color;
        transition-duration: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
          color: $swatch_steel_500;
          border-color: $swatch_steel_500;
        }

        &.selected {
          color: $swatch_blue_500;
          background: $swatch_blue_100;
          border-color: $swatch_blue_500;
        }
      }
    }

    .delimiter {
      border-top: 4px solid $swatch_steel_100;
      width: 150%;
      height: 0;
      margin-top: 64px;
      margin-right: -26%;
      cursor: pointer;

      &:after {
        position: relative;
        display: block;
        content: '';
        background-image: url('../icons/icon-scroll-to.svg');
        width: 210px;
        height: 40px;
        margin: -8px auto auto auto;
      }
    }

    .detail-title {
      color: $swatch_steel_900;
      font-size: 20px;
      font-weight: 650;
      margin-top: 64px;
      text-align: center;
    }

    .plans-details {
      width: 100%;

      .plan-details {
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;

        &.working-capital {
          min-height: unset;
        }

        .fund-provider-groups {
          flex-grow: 1;
        }
      }
    }

    .plan-detail {
      width: 100%;

      .detail-title {
        margin-top: 64px;
        color: $swatch_steel_900;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}
.section-credit-calculator.entekhab {
  .plans {
    padding-top: 40px;

    .title {
      font-size: 24px;
    }

    .delimiter {
      margin-top: 20px;
    }

    .detail-title {
      margin-top: 50px;
    }

    .plans-details {
      margin-top: 5px;
    }
  }

  .plans-list {
    padding: 0 32px 32px !important;

    .credit-plans-next {
      left: 0;
    }

    .credit-plans-prev {
      right: 0;
    }

  }
}


swiper-container {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;

  swiper-slide {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    font-size: 26px;
    font-weight: 500;
    transition: font-size 10ms, font-weight 10ms;
    cursor: pointer;
  }
}


@media (max-width: 1280px) {
  .section-credit-calculator {
    .animated-switch {
      height: 64px;

      ::ng-deep .switch .switch-options {
        .option,
        .option.selected {
          font-size: 13px;
          font-weight: 900;
        }
      }
    }

    .no-plan {
      height: 590px;
      padding: 68px 24px;

      .artwork {
        width: 515px;
        height: 294px;
      }

      .no-plan-title {
        margin-top: 32px;
      }
    }

    .plans {
      padding-right: 24px;
      padding-left: 24px;

      .detail-title {
        font-size: 16px;
      }

      .title {
        font-size: 21px;
      }

      .plans-list {
        padding: 0;
      }

      .credit-plans-next,
      .credit-plans-prev {
        width: 48px;
        height: 48px;
      }

      .plans-swiper {
        width: 600px;
        padding: 16px;
      }

      ::ng-deep {
        .swiper {
          .swiper-slide {
            width: 220px;
          }
        }
      }

      .plan-payments {
        gap: 10px;

        .payment-duration {
          padding: 10px 16px;
        }
      }
    }
  }
  .section-credit-calculator.entekhab {

    .plans-list {
      .credit-plans-next {
        left: 5px;
      }

      .credit-plans-prev {
        right: 5px;
      }
    }

  }
}



@media (max-width: 744px) {
  .section-credit-calculator {
    .animated-switch {
      height: 53px;
      padding: 4px 0;
      border-radius: 10px;

      ::ng-deep .switch .switch-options {
        .option,
        .option.selected {
          border-radius: 8px;
          font-size: 13px;
          font-weight: 900;
        }
      }
    }

    .no-plan {
      height: 350px;
      border-radius: 20px;
      padding: 32px 10px;
      margin-top: 32px;

      .artwork {
        width: 270px;
        height: 151px;
      }

      .no-plan-title {
        font-size: 18px;
      }

      .no-plan-subtitle {
        margin-top: 8px;
        font-size: 16px;
        max-width: 272px;
      }
    }

    .plans {
      padding: 8px;
      width: 100%;
      margin-top: 32px;
      padding-top: 32px;

      .title {
        font-size: 20px;
      }

      .plans-swiper {
        width: 100%;
        padding: 16px;
      }

      ::ng-deep {
        .swiper {
          .swiper-button-prev,
          .swiper-button-next {
            width: 48px;
            height: 48px;
            top: 30px;
          }

          .swiper-slide {
            width: 166px;

            .plan-amount {
              font-size: 16px;

              span {
                font-size: 8px;
              }
            }

            &.swiper-slide-active {
              .plan-amount {
                font-size: 16px;

                span {
                  font-size: 13px;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }

      .detail-title {
        font-size: 13px;
      }

      .plan-payments {
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 12px;
        column-gap: 8px;

        .payment-duration {
          font-size: 10px;
          font-weight: 450;
          padding: 8px 16px;
        }
      }

      .delimiter {
        margin-top: 32px;
      }

      .plans-details {
        .plan-details {
          min-height: 365px;
        }
      }
    }
  }
}
@media(max-width: 577px) {
  .section-credit-calculator.entekhab {
    .plans {

      .title {
        font-size: 18px;
      }

      .delimiter {
        margin-top: 20px;
      }

      .detail-title {
        margin-top: 50px;
      }

      .plans-details {
        margin-top: 5px;
      }
    }

    .plans-list {
      padding: 0 20px !important;
    }
  }

}

* {
  font-family: 'yekan-bakh';
}

.unselectable {
  color: #e34747;
  margin: 0 0 20px;
  font-size: 18px;
  font-family: 'yekan-bakh';

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}
