@import "@digipay/base-style/styleguide";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
  overflow: auto;
}

.select-loan-amount-step {
  flex-grow: 1;
}

.top-section {
  margin-bottom: auto;
}

.action {
  background-image: url("../../../../../../../assets/icons/icon-back.svg");
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon {
  background-image: url("../../../../../../../assets/icons/info-dark.svg");
  width: 16px;
  height: 16px;
}


.config-area {
  background-color: map-get($shade-colors, onback-shade-99);
}

.arrow-up {
  background-image: url("../../../../../../../assets/icons/arrow-up.svg");
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.arrow-down {
  background-image: url("../../../../../../../assets/icons/arrow-down.svg");
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.early-settlement-info-card {
  padding: 6px;
  position: relative;

  .info-card-note-list {

    position: relative;

    &:before {
      content: url('../../../../../../../assets/icons/line.svg');
      width: 1px;
      height: 24px;
      position: absolute;
      top: 8px;
      bottom: 3px;
      right: 15px;
    }

    .info-card-note-item {
      position: relative;
      padding-right: 30px;

      &:after {
        position: absolute;
        width: 20px;
        height: 20px;
        content: url('../../../../../../../assets/icons/dot.svg');
        top: 0;
        right: 6px;
      }

      &:first-child {
        &:before {
          top: 6px;
          bottom: 0;
        }

      }
    }
  }
}


.amount-display {
  flex: 1;
  outline: none;
}

.btn-minus, .btn-plus {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.input-container {
  .suffix {
    pointer-events: none;
  }
}
