@import '../../../layout/variables';
@import '../../../layout/mixins/flex';
@import '../../../layout/mixins/font-size';
@import '../../../layout/mixins/line-height';

.direct-debit-result {
  .description {
    color: #00cc6d;
    font-weight: 700;
    padding: 0 0 32px;
    text-align: center;
    align-items: center;
    @include fontSize(18);
    flex-direction: column;
    @include lineHeight(40);

    > .icon {
      width: 48px;
      height: 48px;
      display: block;
      margin: 0 auto 12px;
      background: url("./assets/checked.svg") center no-repeat;
    }
  }

  .result-wrapper {
    margin-bottom: 36px;
  }

  ui-button::ng-deep {
    width: 100%;
  }
}

:host::ng-deep.content-card-body {
  overflow: scroll;
  max-height: calc(80vh - 205px);
  direction: ltr;

  .result-wrapper {
    direction: rtl;
  }
}
