@import "../../../../styles/layout/variables";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home-request-price {
  padding: 24px 16px;
}

.enroll-button {
  position: absolute;
  left: 16px;
  bottom: 24px;
  line-height: 24px;
  padding: 12px 44px 12px 16px;
  border-radius: 24px;
  color: white;
  background-color: $swatch_green_500;
  background-image: url("../../../../../assets/icons/leading-Icon.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: right 16px center;
  cursor: pointer;
  z-index: 999;
}

@media screen and (max-width: 480px) {
  .enroll-button {
    position: fixed;
  }
}
