<div class="expiration-gift-card-container">

  <div class="title-container">
    <span class="title">انقضای کارت هدیه</span>
    <span class="description">
      مهلت استفاده از این کارت هدیه به پایان رسیده است و از لیست حذف خواهد شد.
    </span>
  </div>

  <div class="gift-card-info">
    <span class="title">اعتبار هدیه الکامپ</span>
    <span class="date">انقضا: ۱۴۰۲/۰۷/۰۵</span>
    <span class="serial-number">شماره سریال ۳۹۲۴۱۵۷۶۰۱۸۴۱۵۷۶</span>
  </div>


  <ui-button
    (buttonClick)="close()"
    theme="digipay"
    appearance="light-blue"
    fullWidth="true"
  >متوجه شدم
  </ui-button>
</div>
