<div class="dialog-container">

  <div class="header">
    <span class="close-icon" (click)="cancel()"></span>
  </div>

  <div class="body content-scrollbar">
    <div class="logo-wrapper">
      <img src="{{state?.logoPath}}" [ngStyle]="state?.customLogoStyle" alt="تصویر لوگو">
    </div>
    <div *ngIf="state?.title" class="title">
      {{state?.title}}
    </div>
    <div class="description" [ngStyle]="state?.customDescriptionStyle">
      {{state?.description}}
    </div>
  </div>

  <div class="footer"
       [ngClass]="{'flex-between-footer' : state?.cancellationButtonText}"
       [style.gap]="'16px'">
    <div class="w-100 text-right">
      <ui-button class="fullWidthButton"
                 [appearance]="state.appearance || 'outline-light-blue'"
                 [theme]="'digipay'"
                 [fullWidth]="false"
                 [styles]="{'border-radius':'12px'}"
                 (buttonClick)="confirm()">
        {{state?.submitButtonText}}
      </ui-button>
    </div>
    <div *ngIf="state?.cancellationButtonText" class="w-100">
      <ui-button class="fullWidthButton"
                 [appearance]="'default'"
                 [theme]="'digipay'"
                 [fullWidth]="!state?.cancellationButtonText"
                 [styles]="{'border-radius':'12px'}"
                 (buttonClick)="cancel()">
        {{state?.cancellationButtonText}}
      </ui-button>
    </div>
  </div>

</div>
