<app-gray-card-layout>
  <div class="card-content">
    <div class="rejection-image"></div>
    <div class="reject-title">متاسفانه درخواست تسویه‌حساب شما رد شد</div>
    <div class="reject-description">
      امتیاز بانکی شما برای تسویه‌حساب زودتر از موعد کافی نیست. ممکن هست این مشکل به دلیل اقساط معوقه بانکی یا چک برگشتی
      باشد، لطفا پس از بررسی و برطرف شدن مشکل دوباره درخواست دهید.
    </div>
    <ui-button (clicked)="exit()">
      بازگشت
    </ui-button>
  </div>
</app-gray-card-layout>
