<div class="submitted-nobitex">
  <div>
    <img
      src="../../../../../../assets/images/success-status.svg"
      alt=""
    />
  </div>
  <div class="content">
    <span class="title"> درخواست شما با موفقیت ثبت شد. </span>
    <span class="subtitle">در صورت تایید اعتبار از طریق پیامک به شما اعلام می گردد.</span>
    <div class="action-button w-100">
      <app-ui-button
        class="w-100"
        (click)="openMyDigiPay()"
        >ورود به اپ دیجی پی</app-ui-button
      >
    </div>
  </div>
</div>
