<div>
  <!--  <div class="header">-->
  <!--    <ng-content select="[header]"></ng-content>-->
  <!--    <span class="title" [class.right]="titleRight" *ngIf="title">{{title}}</span>-->
  <!--&lt;!&ndash;    <img class="header-image"&ndash;&gt;-->
  <!--&lt;!&ndash;         *ngIf="image"&ndash;&gt;-->
  <!--&lt;!&ndash;         [src]="isDesktop ? IMAGES_PATH.desktop[image] : IMAGES_PATH.mobile[image]"/>&ndash;&gt;-->
  <!--    <span class="icon-close" *ngIf="closeable && isDesktop" (click)="close()"></span>-->
  <!--  </div>-->
  <div class="body">
    <ng-content select="[body]"></ng-content>
  </div>
  <!--  <div class="footer">-->
  <!--    <ng-content select="[footer]"></ng-content>-->
  <!--  </div>-->
</div>
