.b2o {
  background: linear-gradient(264deg, rgba(0, 0, 0, 0.99) 17.37%, rgba(0, 0, 0, 0.78) 90.22%);

}


.phone-number {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  direction: ltr;

}
.english-font {
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif !important;

}

.area-code {
  margin: 0 2px;
}

.number {
  font-weight: normal;
  margin: 0 2px;
}

.divider{
  border-left: 1px solid #B4B7BD;
  margin: 0 2px;
}
