<ui-content-card
  cardTitle="نتیجه بررسی قرارداد"
  [backArrow]="true"
  [contentPadding]="false"
  (backClicked)="onBack()">
  <ng-container card-body>
    <div class="result">
      <div class="illustration"></div>

      <h4 class="title">
        احراز هویت و افتتاح حساب شما
        با موفقیت پایان یافت
      </h4>
      <p class="message">
        افتتاح حساب شما انجام شد. با تایید و امضای قراردادها، فرآیند ثبت‌نام خود را تکمیل کنید.
      </p>
    </div>
  </ng-container>
</ui-content-card>
