<div
  [formGroup]="form"
  [ngClass]="state.toLowerCase()"
  class="login-applet"
>
  <div
    (click)="closeDialog()"
    class="close desktop"
  >
    <ngx-icon
      class="cursor-pointer"
      [name]="'close'"
      [iconSize]="'24px'"
    ></ngx-icon>
  </div>
  <div class="text-align-center">
    <img
      *ngIf="state === 'CELL-NUMBER' || state === 'OTP' || state === 'GET-PASSWORD'"
      [src]="
        state === 'CELL-NUMBER'
          ? 'assets/login/number.svg'
          : state === 'OTP'
            ? 'assets/login/otp.svg'
            : state === 'GET-PASSWORD'
              ? 'assets/login/password.svg'
              : ''
      "
      alt=""
    />
    <img
      *ngIf="state === 'LOGIN-SUCCESS'"
      alt="دیجی‌پی"
      src="/assets/images/logos/mydigipay-fa.svg"
      style="margin-bottom: 80px"
      width="119px"
    />
  </div>
  <div
    *ngIf="state === 'CELL-NUMBER' || state === 'GET-PASSWORD'"
    class="title"
  >
    {{ state === 'CELL-NUMBER' ? 'ورود و ثبت نام' : state === 'GET-PASSWORD' ? 'رمز ورود به دیجی پی' : '' }}
  </div>
  <div
    *ngIf="state === 'CELL-NUMBER' || state === 'OTP' || state === 'GET-PASSWORD'"
    class="subtitle"
  >
    {{
      state === 'CELL-NUMBER'
        ? 'لطفا شماره موبایل خود را وارد کنید'
        : state === 'OTP'
          ? 'کد ارسال شده به شماره زیر را وارد کنید'
          : state === 'GET-PASSWORD'
            ? 'رمز ورود خود را وارد کنید'
            : ''
    }}
  </div>
  <div
    (click)="editMobile()"
    *ngIf="state === 'OTP'"
    class="edit-mobile"
  >
    {{ cellNumber }}
    <i class="icon-edit"></i>
  </div>
  <app-form-field
    *ngIf="state === 'CELL-NUMBER'"
    [maxSize]="11"
    formControlName="cellNumber"
    inputType="tel"
    label="شماره موبایل"
    type="input"
    (keydown.enter)="form.valid ? onSubmit(state) : ''"
  ></app-form-field>
  <form
    *ngIf="state === 'OTP'"
    [formGroup]="otpForm"
    autocomplete="off"
  >
    <div class="relative-position otp-inputs-wrapper">
      <ngx-otp
        [(otp)]="otpCode"
        [otpLength]="length()"
        [supportText]="OtpErrorText()"
        [status]="otpStatus()"
      />
    </div>
    <div
      *ngIf="invalidOtpErrorMessage"
      class="text-error"
    >
      {{ invalidOtpErrorMessage }}
    </div>
  </form>
  <app-enter-password *ngIf="state === 'GET-PASSWORD'"></app-enter-password>
  <div
    *ngIf="state === 'OTP' || state === 'CELL-NUMBER' || state === 'GET-PASSWORD'"
    [ngClass]="state.toLowerCase()"
    class="ctas"
  >
    <button
      (click)="receiveNewCode()"
      *ngIf="state === 'OTP'"
      [class.disable-timer]="!timeIsOver"
      [disabled]="!timeIsOver"
      [ngClass]="{ 'time-over': timeIsOver }"
      class="timer-btn"
      mat-button
      style=""
    >
      <span *ngIf="!timeIsOver">{{ minute }}:{{ second }}</span>
      <span *ngIf="timeIsOver">ارسال مجدد</span>
    </button>
    @if (state === 'OTP') {
      <ngx-button
        (click)="onSubmit(state)"
        [fullWidth]="true"
        [disabled]="otpCode().length < 6"
      >
        تایید کد یکبار مصرف
      </ngx-button>
    } @else {
      <app-ui-button
        (click)="onSubmit(state)"
        [disabled]="!form.valid || isSubmitting"
        size="SMALL"
        style="flex-grow: 1; width: 51%"
      >
        {{ state === 'CELL-NUMBER' ? 'ارسال کد یکبار مصرف' : state === 'GET-PASSWORD' ? 'ورود با رمز' : '' }}
      </app-ui-button>
    }
  </div>
  <div
    (click)="state = 'RULES'"
    *ngIf="state === 'CELL-NUMBER'"
    class="rules"
  >
    ورود شما به معنای پذیرش شرایط و قوانین
    <span> دیجی پی </span>
    است
  </div>
  <ng-container *ngIf="state === 'LOGIN-SUCCESS'">
    <div class="login-success-text">در حال ورود به دیجی پی...</div>
    <ngx-progress-bar
      [config]="{
        type: ProgressBarTypeTranslator.PROGRESS_BAR_MINI,
        stepLength: 100,
        activeIndex: progressValue,
      }"
    >
    </ngx-progress-bar>
  </ng-container>
  <ng-container *ngIf="state === 'RULES'">
    <div class="rules-title">
      <div
        (click)="closeDialog()"
        class="back desktop"
      >
        <img
          alt=""
          height="24"
          ngSrc="./assets/images/arrow.svg"
          width="24"
        />
      </div>
      شرایط و قوانین دیجی پی
    </div>
    <div class="rules-subtitle">شرایط استفاده از خدمات پرداختی دیجی‌پی</div>
    <div class="rules-description">
      لطفا پیش از استفاده از خدمات دیجی‌پی، قوانین و مقررات را مطالعه کنید. در‌صورتی‌که به راهنمایی و یا مشاوره نیاز دارید، می‌توانید از
      طریق صفحه «تماس با ما»، پرسش‌های خود را با ما در میان بگذارید: دیجی‌پی به عنوان یک ارائه‌دهنده سرویس‌های پرداخت از جمله کارت به کارت،
      پرداخت قبض، خرید شارژ، پرداخت به فروشگاه‌ها و غیره، تابع کلیه قوانین و مقررات جمهوری اسلامی ایران است. توافق‌نامه زیر برای استفاده
      مناسب و ایمن از اپلیکیشن دیجی‌پی و جلوگیری از هرگونه سوءاستفاده احتمالی تدوین شده است.این توافق در قالب تعیین‌کننده تعهدات و تکالیف
      طرفین، بین شرکت نوآوران پرداخت مجازی ایرانیان به شماره ثبت ۵۲۷۸۰۳ به عنوان طرف اول و کاربر اپلیکیشن دیجی‌پی به عنوان طرف دوم، منعقد
      می‌شود.شرکت نوآوران پرداخت مجازی ایرانیان، صاحب‌امتیاز اپلیکیشن دیجی‌پی است که از این پس در متن «دیجی‌پی» نامیده می‌شود و کاربر
      اپلیکیشن دیجی‌پی «کاربر». تایید شرایط استفاده به منزله قبول و امضای الکترونیکی توافق‌نامه خواهد بود. کلیه حقوق مادی و معنوی دیجی‌پی و
      علائم تجاری آن متعلق به شرکت نوآوران پرداخت مجازی ایرانیان (سهامی خاص) به شماره ثبت ۵۲۷۸۰۳ است. هرگونه کپی‌برداری، استفاده غیرمجاز از
      نام، مطالب، مستندات و علائم تجاری دیجی‌پی بدون مجوز کتبی این شرکت و سعی در نفوذ به داده‌های دیجی‌پی، مطابق کلیه قوانین جاری کشور،
      غیرمجاز تلقی شده و دیجی‌پی حق پی‌گرد قانونی در مراجع ذی‌صلاح را برای خود محفوظ می‌دارد. حقوق مالکیت معنوی و فکری همه علائم تجاری ثبت
      شده، اجزای فنی اپلیکیشن و جزییات هویت برند دیجی‌پی، متعلق به شرکت نوآوران پرداخت مجازی ایرانیان (سهامی خاص) به شماره ثبت ۵۲۷۸۰۳ است و
      کاربر مجاز به استفاده از آن‌ها برای کاربردهای شخصی نخواهد بود. گفتنی است نادیده گرفتن این حقوق با عناوینی مثل صدور اجازه یا حق ضمنی و
      تلویحی، یا انکار پس از قبول و غیره، قابل توجیه نیست. هر کاربر دیجی‌پی می‌تواند با شماره‌ تلفنی که به نام و منطبق با کد ملی اوست، در
      دیجی‌پی ثبت‌نام کند به شرط آن‌که هر کارت باتکی ثبت شده در پروفایل کاربر نیر به نام او و قابل انطباق با شماره ملی باشد.به دستور بانک
      مرکزی کشور، در هر بار فرایند پرداخت کارت به کارت تطابق شماره ملی کاربر با شماره کارت بانکی و شماره تلفن همراه کنترل خواهد شد. هرگونه
      استفاده غیرمجاز از خدمات اپلیکیشن دیجی‌پی که طبق قوانین موجود کشور مجرمانه شناخته شود، ممنوع است: خرید و فروش کارت‌های بخت‌آزمایی، و
      شرکت در هر گونه قمار و شرط‌‌بندی. استفاده از شبکه خصوصی مجازی (وی پی ان) و خرید و فروش نرم افزار های عبور از فیلترینگ جمهوری اسلامی
      ایران. استفاده از خدمات برای هرگونه هک و نفوذ و دسترسی غیرمجاز. خرید و فروش کالاهایی که به نحوی حقوق ناشر، مالک، مولف، پدیدآورنده اثر
      و امثال آنها را رعایت نمی‌‌کنند (خلاف قوانین کپی‌رایت). خرید و فروش سیگار و سایر مواد دخانی. خرید و فروش انواع سلاح‌های گرم و سرد.
      خرید و فروش کالاها و خدماتی که مبادله آن‌ها دارای مقررات و نظامات خاص است. خرید و فروش کالاهایی که برای مصرف‌کننده خطر جدی در پی دارد.
      خرید و فروش کالاهایی که مبادله آن‌ها طبق قانون ممنوع است از قبیل مواد مخدر، مشروبات الکلی، روان گردان ها، مواد سکرآور، کالاهای قاچاق.
      خرید و فروش کالاهایی که مبادله آن‌ها مغایر با آداب اسلامی است. خرید و فروش کالاها و خدماتی که انجام فعالیت‌های غیرقانونی را به نحوی
      تشویق یا تسهیل می‌کنند. خرید و فروش کالاهای به‌دست‌آمده از ارتکاب جرم یا نقض مقررات کشوری و لشگری. خرید و فروش کلیه کالاها یا خدماتی
      که ارائه آنها نیازمند اخذ مجوز یا پروانه است. اگر کاربر تخلفی مرتکب شود که به تشخیص دیجی‌پی صدور دستور برخورد از سوی مراجع قضایی را در
      پی داشته باشد، دیجی‌پی مجاز است ارائه خدمات به کاربر را متوقف کند. انجام هرگونه اقدام مرتبط با سوءاستفاده مالی و پول‌شویی یا ایجاد
      اختلال در حوزه پولی و بانکی کشور به تشخیص دیجی‌پی، موجب توقف ارائه خدمات به کاربر خواهد شد. هرگونه اقدام منجر به اختلال در جریان
      نقدینگی به تشخیص دیجی‌پی، موجب توقف ارائه خدمات به کاربر خواهد شد. دیجی‌پی تنها ملزم به پی‌گیری مشکلات نسخه‌های موجود اپلیکیشن در
      بازارهای شناخته شده همچون «Google Play»، «کافه‌بازار»، «مایکت»، «چارخونه»، «سیبچه»، «سیب ایرانی»، «سیب‌بانک» و «سیب اپ» است. در صوررت
      افزوده شدن موارد، این فهرست به روزرسانی می‌شود. دیجی‌پی در مقابل خسارت‌های احتمالی ناشی از افشای اطلاعات کاربر که در اثر محافظت نکردن
      و سهل‌انگاری شخصی یا سرقت و مفقود شدن تلفن همراه رخ دهد، هیچ‌گونه مسئولیتی نخواهد داشت. کاربر موظف است در صورت مفقود شدن یا سرقت تلفن
      همراه، مراتب را به بانک مورد نظر اطلاع دهد تا حساب معرفی شده در دیجی‌پی مسدود شود.کاربر همچنین می‌تواند در تماس تلفنی با پشتیبانی فنی
      دیجی‌پی، درخواست خود را برای غیرفعال شدن حساب کاربری دیجی‌پی اعلام کند. بی‌تردید دیجی‌پی خود را متعهد می‌داند که از تمام امکانات و
      ظرفیت خود برای حفظ امنیت اپلیکیشن و محافظت از اطلاعات کاربران استفاده کند؛ اما کاربر در هر صورت باید همه اطلاعات شخصی خود از قبیل رمز
      عبور،‌ اطلاعات کارت بانکی و اطلاعات هویتی خود را محفوظ نگه‌دارد و این اطلاعات را در هیچ شرایطی در اختیار دیگران قرار ندهد. در صورت
      سهل‌انگاری کاربر در این زمینه، مسئولیتی متوجه دیجی‌پی نخواهد بود. کاربر باید پیش از واگذاری تلفن همراه خود، ابتدا از حساب کاربری خود
      در دیجی‌پی خارح شود و سپس اپلیکیشن را از روی تلفن همراه حذف و غیرفعال کند. تنها در این حالت است که اطلاعات کاربری و پیام‌های دریافت
      شده از دست‌رس مالک بعدی دستگاه خارج می‌شود. دیجی‌پی با تمام توان برای برقراری همیشگی سرویس‌ها تلاش و در صورت مشاهده هر اختلال حتی با
      وجود خارج بودن از حوزه اختیارات، آن را پی‌گیری خواهد کرد. اما در مقابل بروز مشکلات زیرساختی که از محدوده اختیارات این مجموعه خارج باشد
      (همچون اختلال در شبکه مخابراتی، اختلال در شبکه اینترنتی، وب‌سرویس‌ها و ...) و منجر به اختلال در ارائه خدمات شود، مسئولیت اصلی متوجه
      سرویس‌دهنده‌ی زیرساخت است و دیجی‌پی مسئولیتی برعهده نخواهد داشت. با این وجود دیجی‌پی تا زمان به نتیجه رسیدن، همه اختلال‌ها را پی‌گیری
      خواهد کرد و تا زمان برطرف شدن کامل اختلال در کنار کاربران خواهد بود. در صورت هرگونه تغییر در قوانین مراجع ذی‌صلاح حاکم بر کسب‌وکار،
      قرارداد با اشخاص ثالث و مسائل زیرساختی و فنی، دیجی‌پی می‌تواند تغییراتی در شرایط و مقررات اعمال کند که این تغییرات همواره در بخش
      قوانین و مقررات اپلیکیشن در دسترس کاربر است و کاربر در صورت موافقت با آن‌ها می‌تواند به استفاده از سرویس ادامه دهد. دیجی‌پی، با حفظ
      پیمان رازداری و شرایط محرمانگی و تنها برای برقراری امنیت اطلاعات و بهبود کیفیت سرویس‌ها، مشخصات سیستم‌عامل و شماره سیم‌کارت را در
      سیستم ذخیره می‌کند. کاربر می‌تواند در صورت نارضایتی از عملکرد دیجی‌پی، اطلاعات عضویت خود را لغو کند. بی‌تردید لغو عضویت تنها به حذف
      اطلاعات کاربر در برنامه موبایل منجر می‌شود، و فعالیت‌های پیشین کاربر برای بهبود عملکرد سیستم در سرورهای دیجی‌پی باقی می‌ماند و در صورت
      استعلام مراجع رسمی، در مواقع بروز تخلف، همچنان قابل استناد است. با توجه به الزامات قانونی بانک مرکزی در فرایند کارت به کارت، شماره
      موبایل کاربر در اختیار بانک انجام دهنده انتقال وجه (بانک مبدا) قرار می‌گیرد. در صورت رعایت نکردن مقررات و شرایط عمومی و اختصاصی
      استفاده از دیجی‌پی و همچنین استفاده غیرمجاز، دیجی‌پی حق دارد که سرویس‌دهی به مشترک را متوقف کند. چنانچه به دلیل قصور یا تقصیر کاربر،
      ادعایی علیه دیجی‌پی مطرح شود یا هرگونه خسارتی به شرکت وارد آید، دیجی‌پی حق پی‌گرد قانونی از مراجع ذی‌صلاح را برای خود محفوظ می‌داند.
      دیجی‌پی متعهد به رعایت کلیه قوانین از قبیل فهرست مصادیق محتوای مجرمانه موضوع ماده ۲۱ قانون جرایم رایانه‌ای و قانون تجارت الکترونیکی
      است. بنابراین کلیه موضوعات مشکوک و اطلاعات مربوط به اشخاص مظنون به سوء‌استفاده از دیجی‌پی را به مقامات انتظامی ‌و قضائی اعلام می‌کند
      تا تحت پی‌گرد قانونی قرار گیرند. توصیه می‌شود کاربر در صورت مشاهده هرگونه عملیات غیرمجاز روی حساب خود، مراتب را در زودترین هنگام به
      پشتیبانی دیجی‌پی اطلاع دهد. سرویس عوارض آزادراهی دیجی‌پی تنها آزادراه‌های همت-کرج، کاشان-نطنز-اصفهان، گذرگاه شرق اصفهان، قزوین-زنجان،
      کرج-قزوین، بندرعباس-شهیدرجایی، تهران-ساوه، تهران-قم، تبریز – سهند را تحت پوشش قرار می‌دهد. بنابراین اگر در محدوده‌ی دیگری به جز این
      فهرست تردد داشته‌اید، بدهی عوارض آزادراهی شما از طریق دیجی‌پی قابل استعلام و تسویه نخواهد بود.
    </div>
  </ng-container>
</div>
