<div class="rejected-reason">
  <div class="rejected-reason-title">
    <div class="title">
      موارد مؤثر بر نتیجۀ امکان‌سنجی:
    </div>
    <div class="close-icon">
      <div class="close" (click)="onClose()"></div>
    </div>
  </div>
  <ui-note-box
    [points]="points"></ui-note-box>

  <div class="footer-section">

    <ng-button (clickHandler)="onClose()"
               buttonSize="medium"
               [fullWidth]="true"
               [buttonText]="'متوجه شدم'">
    </ng-button>
  </div>
</div>
