<section class="section-registering" [ngClass]="{'p-atom' : isEntekhab}">
  <div class="container">
    <app-credit-register-benefits
      *ngIf="!isEntekhab"
      [registerBenefitsData]="CCreditRegisteringData.onlineRegister.registerBenefits"
      class="register-benefits"
    ></app-credit-register-benefits>

    <div class="d-flex entekhab" *ngIf="isEntekhab">
      <div class="stepper">
        <div class="box">
          <div class="title">
            <span>جشنواره بزرگ اسنوا و دوو </span>
            <span>با وام دیجی‌پی</span>
          </div>
          <div class="subtitle d-flex flex-column">
            <span class="mb-medium bt-1">
              با هر ۳۰ میلیون تومان خرید با وام دیجی‌پی در هر ماه، یک شانس در قرعه کشی موتور بنلی Keeway دریافت کنید!
            </span>
            <span class="st-5">
               زمان قرعه کشی:
            </span>
            <span class="mb-medium bt-1">
              دهم هر ماه در اینستاگرام دیجی‌پی <a href="https://www.instagram.com/mydigipay" class="text-onback-brand">mydigipay</a>

            </span>
            <span class="st-5">
               تاریخ جشنواره:
            </span>
            <span class="bt-1">
              تا پایان آبان ماه
            </span>

          </div>
        </div>
        <app-ui-vertical-flow
          [steps]="entekhabStepper.steps"
          [title]="entekhabStepper.title"
          [subtitle]="entekhabStepper.subtitle">
        </app-ui-vertical-flow>
      </div>
      <div class="online-register">
        <app-credit-calculator-v3
          [isEntekhab]="isEntekhab"
          [certainCollateralType]="certainCollateral"
          [certainFundProviderCode]="certainFundProviderCode"
          [title]="'مبلغ و تعداد اقساط را مشخص کنید'"
          [userType]="userType"
          class="calculator"
          id="section-register"></app-credit-calculator-v3>
      </div>
    </div>
    <div class="online-register" *ngIf="!isEntekhab">
      <app-credit-calculator-v3
        [certainCollateralType]="certainCollateral"
        [certainFundProviderCode]="certainFundProviderCode"
        [title]="'مبلغ و تعداد اقساط را مشخص کنید'"
        [userType]="userType"
        class="calculator"
        id="section-register"></app-credit-calculator-v3>
    </div>
  </div>
</section>
