@import "../../../layout/variables";
@import "../../../layout/mixins/font-size";

::ng-deep .pay-confirm-dialog .dialog-title {
  @include fontSize(16)
}

.pay-confirm-dialog {
  .image {
    width: 208px;
    height: 120px;
    background: url('./images/pay-confirm-illustration.svg') no-repeat 0 0/100%;
    margin: 0 auto 32px auto;
  }

  .text {
    text-align: center;
    color: $text-color-lighter;
    @include fontSize(12);
    margin-bottom: 24px;
  }

  ui-button {
    display: block;

    &:last-child {
      margin-top: 12px;
    }
  }

  .digits {
    margin-bottom: 52px;
  }
}
