<div class="footer-loading-skeleton">
  <div class="placeholder description"></div>
  <div class="card">
    <div class="placeholder icon"></div>
    <div class="card-left">
      <div class="placeholder left-top"></div>
      <div class="placeholder left-down"></div>
    </div>
  </div>
  <div class="card">
    <div class="placeholder icon"></div>
    <div class="card-left">
      <div class="placeholder left-top"></div>
      <div class="placeholder left-down"></div>
    </div>
  </div>
</div>
