<div class="early-settlement-desktop">
  <app-early-settlement-list-desktop
    [pageTitle]="pageTitle"
    [data]="data"
    [filters]="filters"
    [statusGroupList]="statusGroupList"
    [loading]="gettingData"
    [selectedStatusGroupIndex]="selectedStatusGroupIndex"
    [page]="page"
    [perPage]="perPage"
    [totalPages]="totalPages"
    [totalItems]="totalItems"
    [settlementStatusTranslated]="settlementStatusTranslated"
    [settlementColor]="settlementColor"
    (selectStatusGroup)="changeFilter($event)"
    (onDetailClick)="openDetail($event)"
    (pageChange)="onPageChange($event)"
  ></app-early-settlement-list-desktop>
</div>
<div class="early-settlement-mobile">
  <app-early-settlement-list-mobile
    [pageTitle]="pageTitle"
    [data]="data"
    [filters]="filters"
    [statusGroupList]="statusGroupList"
    [loading]="gettingData"
    [selectedStatusGroupIndex]="selectedStatusGroupIndex"
    [page]="page"
    [perPage]="perPage"
    [totalPages]="totalPages"
    [totalItems]="totalItems"
    [settlementStatusTranslated]="settlementStatusTranslated"
    [settlementColor]="settlementColor"
    (selectStatusGroup)="changeFilter($event)"
    (onDetailClick)="openDetail($event)"
    (pageChange)="onPageChange($event)"
  ></app-early-settlement-list-mobile>
</div>
