<div class="stepper-header d-flex justify-content-center pt-small pb-small pl-plus pr-plus
border-b-300 border-color-air" *ngIf="transformedSteps()[currentIndex()]">
  <div class="stepper-header-container">
    <div class=" d-flex justify-content-space-between mb-small">
      <div class="step-info-title">
        <b class="st-8 text-onback-high">مرحله {{numberMapper()[ ( currentIndex() + 1 ) ]}}:</b>
        <span class="b-3 text-onback-medium"> {{transformedSteps()[ currentIndex() ].label}}</span>
      </div>
      <div class="step-number  b-3 text-onback-low">
        <span>{{currentIndex() + 1}}</span>
        <span> از </span>
        <span>{{transformedSteps().length}}</span>
      </div>
    </div>
    <div [class]="'w-100 progress-bar progress-bar-'+transformedSteps()[ currentIndex() ].status">
      <div class="progress surface-brand radius-giant h-100"
           [style]="{width: (100 * (currentIndex() + 1) / transformedSteps().length) + '%'}"></div>
    </div>
  </div>
</div>
<div class="stepper-body">
  <ng-content></ng-content>
</div>

