@import "variables";

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.signature-password-container {
  margin-bottom: auto;

  .onboarding-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .onboarding-icon {
      background: url("../../../../../../../assets/icons/onboarding-illustration.svg") no-repeat center/116px;
      height: 212px;
      width: 212px;
      margin-bottom: 16px;
    }

  }

  .list-wrapper {
    h2 {
      font-size: 16px;
      font-weight: 725;
      line-height: 32px;
      margin-bottom: 8px;
      color: $swatch_steel_900;
    }

    ul {
      margin-right: 24px;

      li {
        margin-bottom: 8px;
        font-size: 14px;
        font-style: normal;
        font-weight: 370;
        line-height: 24px;
        color: $swatch_steel_900;
      }
    }
  }

  .inputs-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    //padding: 24px;

    .pass-icon {
      background: url("../../../../../../../assets/icons/pass-illustration.svg") no-repeat center/116px;
      height: 113px;
      width: 118px;
      margin-bottom: 12px;
    }

    .repeat-pass-icon {
      background: url("../../../../../../../assets/icons/repeat-pass-illustration.svg") no-repeat center/116px;
      height: 113px;
      width: 118px;
      margin-bottom: 12px;
    }

    h2 {
      font-size: 14px;
      font-weight: 580;
      line-height: 24px;
      color: $swatch_steel_900;
    }
  }

  .preview-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: auto;

    .signature {
      display: flex;
      justify-content: center;
      border-radius: 16px;
      text-align: center;
      width: 312px;
      height: 126px;
      padding: 32px;
      border: 1px dashed #dee3e7;

      .preview-icon {
        width: 96px;
        height: 62px;
      }
    }


    .list-wrapper {
      padding: 24px 0;
      border-bottom: 1px solid $swatch_steel_200;
      margin-bottom: 24px;

      h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 530;
        line-height: 32px;
        color: $swatch_green_900;
        margin-bottom: 8px;
      }

      ul {
        margin-right: 24px;

        li {
          margin-bottom: 8px;
          font-size: 12px;
          font-style: normal;
          font-weight: 450;
          line-height: 20px;
          color: $swatch_steel_900;
        }
      }
    }

    p {
      font-size: 12px;
      font-style: normal;
      font-weight: 450;
      line-height: 20px;
      color: $swatch_steel_900;
      margin-bottom: 16px;
    }

    .password-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border: 1px solid $swatch_steel_200;
      border-radius: 12px;
      padding: 10px;

      .password {
        color: $db-black;
        font-size: 26px;
        font-weight: 700;
      }

      .copy {
        display: flex;
        font-size: 10px;
        font-weight: 540;
        line-height: 16px;
        padding: 8px;
        background-color: $swatch_steel_100;
        border-radius: 8px;

        img {
          width: 20px;
        }
      }
    }
  }

}

.checkbox-text {
  margin-bottom: 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.status-result {
  margin: auto;
}
