<div class="black-friday-counter d-flex flex-column align-items-center">
  <div>
    @if (+timer().days < 0) {
      <span>پایان</span>
    } @else {
      <div class="d-flex flex-row-reverse align-items-center justify-content-center gap-medium">
        <div class="d-flex flex-column gap-pony align-items-center ng-input">
          <span class="text-oninvert-high timer-item t-7">{{ timer().days }}</span>
          <span class="text-oninvert-high l-2">روز</span>
        </div>
        <div class="d-flex flex-column gap-pony align-items-center timer-wrapper">
          <span class="text-oninvert-high t-7 timer-item">{{ timer().hours }}</span>
          <span class="text-oninvert-high l-2">ساعت</span>
        </div>
        <div class="d-flex flex-column gap-pony align-items-center">
          <span class="text-oninvert-high t-7 timer-item">{{ timer().minutes }}</span>
          <span class="text-oninvert-high l-2">دقیقه</span>
        </div>
        <div class="d-flex flex-column gap-pony align-items-center">
          <span class="text-oninvert-high t-7 timer-item">{{ timer().seconds }}</span>
          <span class="text-oninvert-high l-2">ثانیه</span>
        </div>
      </div>
    }

  </div>
  @if (timer().text) {
    <div class="mt-plus text-oninvert-high t-6">{{timer().text}}</div>
  }
</div>
