@import '../../../styles/layout/variables';

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $swatch_steel_100;
  overflow: hidden;
}

.layout-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
