<div class="container">
  <div class="calculator">
    <div class="calculator-container">
      <div class="icon">
        <span
          [size]="100"
          icon="icon-no-result"
          appUiIcon
        ></span>
      </div>
      <div class="title">متاسفانه دارایی شما برای دریافت اعتبار کافی نیست</div>
      <div class="subtitle">
        در حال حاضر امکان ارائه سرویس اعتبار به شما را نداریم.
        <br />
        می توانید برای افزایش مبلغ وثیقه به پنل خود در نوبیتکس مراجعه کنید.
      </div>
    </div>
  </div>
</div>
