@import "globals";

.hamburger-menu {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.hamburger-menu b {
  background-color: $text-color;
  position: absolute;
  border-radius: 2px;
  transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 100%;
  height: 3px;
}

.hamburger-menu b:nth-child(1) {
  top: 0;
  left: 0;
}

.hamburger-menu b:nth-child(2) {
  top: 13px;
  left: 0;
  opacity: 1;
}

.hamburger-menu b:nth-child(3) {
  bottom: 0;
  left: 0;
}

.hamburger-menu.open b:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.hamburger-menu.open b:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open b:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

$buttonWidth: 24px;
$buttonHeight: 16px;
$buttonColor: darken(#061962, 15%);
$lineThickness: 2px;
$transitionSpeed: 0.25s;
$transitionEasing: ease-in-out;

// Demo
.menu-toggle {
  position: relative;
  display: block;
  width: $buttonWidth;
  height: $buttonHeight;

  background: transparent;
  border-top: $lineThickness solid;
  border-bottom: $lineThickness solid;

  color: $buttonColor;
  font-size: 0;

  transition: all $transitionSpeed $transitionEasing;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: $lineThickness;

    position: absolute;
    top: 50%;
    left: 50%;

    background: currentColor;

    transform: translate(-50%, -50%);
    transition: transform $transitionSpeed $transitionEasing;
  }
}

button:hover {
  color: lighten($buttonColor, 15%);
}

button.is-active {
  border-color: transparent;

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}
