::ng-deep .credit-container {
  width: 480px;
  margin: 64px auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 128px);

  > :not(router-outlet) {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 1400px) {
  .credit-container {
    margin: 8px auto;
  }
}

@media screen and (max-width: 767px) {
  .credit-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}
