.standard-cards-bottom-sheet {
  padding: 24px;
  border-radius: 16px 16px 0 0;
  background-color: #FFFFFF;
  direction: rtl;
  text-align: right;

  .bottom-sheet-title {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .cta-wrapper {
    margin-top: 16px;

    .primary-button {
      width: 100%;
      display: block;
    }
  }

  .loading-wrapper {
    display: flex;
    justify-content: center;
    padding: 24px 0;
  }
}
