@import '../variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  margin-bottom: 8px;
  line-height: 1.5;
}

h1 {
  font-size: 32px;
  font-weight: 1000;
}

h2 {
  font-size: 32px;
  font-weight: 900;
}

h3 {
  font-size: 24px;
  font-weight: 800;
}

h4 {
  font-size: 20px;
  font-weight: 800;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

h1 ~ .subtitle,
h2 ~ .subtitle {
  font-weight: 400;
  font-size: 20px;
  color: $text-color;
  line-height: 1.5;
  margin-bottom: 32px;
}

@media (max-width: 1280px) {
  h1,
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  h1 ~ .subtitle,
  h2 ~ .subtitle {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

@media (max-width: 744px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: unset;
  }

  h1,
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
  h3,
  h4,
  h5 {
    font-size: 14px;
  }
  h1 ~ .subtitle,
  h2 ~ .subtitle {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
