@import "globals";



.category {
  margin-right: auto;
  font-size: 11px;
  font-weight: 400;
  line-height: 200%;
  color: $swatch_red_400;
  border-radius: 18px;
  border: 1px solid $swatch_red_400;
  background: $swatch_red_100;
  padding: 0 12px;
  height: fit-content;
  cursor: pointer;
}

.square-post {
  background-color: $swatch_white_900;
  border: 1px solid $swatch_steel_200;
  border-radius: 12px;
  height: 630px;
  padding: 24px;

  .image {
    img {
      border: 1px solid $swatch_steel_200;
      border-radius: 6px;
      width: 100%;
      height: 295.886px;
    }
  }

  .title {
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 0;
    min-height: 100px;
    color: $swatch_steel_700;
    cursor: pointer;
  }

  .subtitle {
    font-size: 13px;
    font-weight: 400;
    line-height: 210%;
    min-height: 120px;
    color: $swatch_steel_500;
  }

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .category-stats {
      display: flex;
      gap: 24px;
      align-items: center;

      .stats {
        color: $swatch_steel_400;
        font-size: 11px;
        font-weight: 400;

        .date {
          display: flex;
          gap: 4px;
          align-items: center;
        }
      }
    }

    .read-more {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      color: $swatch_blue_500;
      bottom: 0;
      left: 16px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      padding: 16px 0;
    }
  }
}
