@import "partials/swatch";

$digipay-blue: #294acc;
$digipay-blue-light: #f0f5ff;
$digipay-blue-primary: #0040ff;
$digipay-green: #39bf7c;
$digipay-red: #ff2638;

$font-name: iranyekan;
$font-name-2: new-iranyekan;
$text-color: #4c4c4c;
$text-color-lighter: #666666;

$gray: #6e798d;
$dark-gray: #2c3544;
$light-gray: #d3dbe1;
$bright-gray: #b2bdc8;

$white: #fff;
$light-blue: #f2f5f8;

$blue-gray: #4d596b;
$light-blue-gray: #afb9c5;

$disable-border: #f2f2f2;
$otp-resend-button: #94a1b0;

$navy-blue: #191919;
