<div class="inquiry-cost-payment">
  <div class="top-bar">
    <div>
      <app-ui-vehicle-simple-plate
        [plateDetail]="vehiclePlateDetails"
        [plateNumber]="vehiclePlateNo"
      ></app-ui-vehicle-simple-plate>
    </div>
    <app-ui-button
      (clicked)="previousStep()"
      appearance="BLUE-TEXT"
      class="cta"
    >
      ویرایش
      <ngx-icon
        [name]="'arrow-2-left'"
        class="text-onback-brand"
      ></ngx-icon>
    </app-ui-button>
  </div>
  <ng-container *ngIf="inquiryCostPaymentState !== 'SERVICE_ERROR'; else serviceError">
    <div class="inquiry-cost-payment-body">
      <div class="inquiry-details">
        <div class="title">برای مشاهده خلافی باید استعلام بگیرید.</div>
        <div class="inquiry-box">
          <app-ui-spinner
            *ngIf="inquiryCostPaymentState === 'LOADING'"
            class="spinner"
            size="48"
          ></app-ui-spinner>
          <div
            *ngIf="inquiryCostPaymentState === 'LOADED'"
            class="inquiry"
          >
            <div class="inquiry-cost">
              <div class="cost-title">
                <div class="traffic-police">
                  <div class="icon"></div>
                </div>
                استعلام جریمه
              </div>
              <div class="cost-amount">
                {{ inquiryConfig.landingConfig.inquiryAmount | IRR }}
                ریال
              </div>
            </div>
            <div class="inquiry-plate">
              <div class="plate-title">شماره پلاک</div>
              <div class="plate-number">
                <app-ui-vehicle-simple-plate
                  [plateDetail]="vehiclePlateDetails"
                  [plateNumber]="vehiclePlateNo"
                  [withoutBorder]="true"
                ></app-ui-vehicle-simple-plate>
              </div>
            </div>
          </div>
        </div>
        <app-ui-card-notice
          [notices]="notices"
          hasDots="true"
          title="مهم"
        ></app-ui-card-notice>
      </div>
      <div class="ctas">
        <app-ui-button
          (clicked)="payInquiryCost(PaymentGateways.IPG)"
          [disabled]="inquiryCostPaymentState === 'LOADING'"
          appearance="FLAT-BLUE"
          class="first-cta"
        >
          پرداخت با کارت
        </app-ui-button>
        <app-ui-button
          (clicked)="payInquiryCost(PaymentGateways.WALLET)"
          [disabled]="inquiryCostPaymentState === 'LOADING'"
          class="second-cta"
        >
          پرداخت از کیف پول
        </app-ui-button>
      </div>
      <marquee
        direction="down"
        height="28px"
        scrollamount="1"
        width="100%"
      >
        <ng-container *ngFor="let promotion of servicePromotions">
          <div class="promotion">
            <img
              *ngIf="promotion.icon && promotion.icon.url"
              [ngSrc]="promotion.icon.url"
              class="icon"
              height="20"
              width="20"
            />
            {{ promotion.text }}
          </div>
        </ng-container>
      </marquee>
    </div>
  </ng-container>
  <ng-template #serviceError>
    <div class="service-error">
      <span
        [size]="96"
        icon="icon-connection-error"
        appUiIcon
      ></span>
      <div class="error-title">فعلا امکان استعلام وجود ندارد.</div>
      <div class="error-description">هزینه استعلام به کیف پول دیجی‌پی/حساب بانکی شما واریز می شود</div>
      <div class="ctas">
        <app-ui-button
          appearance="FLAT-BLUE"
          class="transactions cta"
          routerLink="/profile/transactions/."
          >تراکنش ها
        </app-ui-button>
        <app-ui-button
          (clicked)="retryGetConfig()"
          class="retry cta"
          >تلاش مجدد</app-ui-button
        >
      </div>
    </div>
  </ng-template>
</div>
