<ng-container *ngIf="passwordStatus === 'ONBOARDING'">
  <div class="signature-password-container">
    <div class="onboarding-wrapper">
      <img src="assets/icons/onboarding-illustration.svg" alt="onboarding-illustration" width="212" height="212"/>
    </div>
    <div class="list-wrapper">
      <h2>
        مراحل دریافت امضا دیجیتال موقت
      </h2>
      <ul>
        <li>تایید و تکمیل اطلاعات هویتی</li>
        <li>ثبت تصویر چهره متقاضی</li>
        <li>ضبط ویدیو شناسایی هویت</li>
        <li>دریافت امضا</li>
      </ul>
    </div>
  </div>
  <ng-button [fullWidth]="true" (clickHandler)="continue()"
  >
    تایید و ادامه
  </ng-button>
</ng-container>
<ng-container *ngIf="passwordStatus === 'GETTING_PASSWORD'">
  <div class="signature-password-container">
    <div class="inputs-wrapper">
      <div class="pass-icon"></div>
      <h2>رمز دلخواه خود را برای امضای دیجیتال وارد کنید</h2>
      <ui-pin-input
        [value]="code"
        (pinChange)="onCodeChange($event)"
        type="PIN"></ui-pin-input>
    </div>
  </div>
  <ng-button [fullWidth]="true" (clickHandler)="passProceed()"
             [disabled]="!isPassProceed">
    تایید و ادامه
  </ng-button>
</ng-container>
<ng-container *ngIf="passwordStatus === 'REPEAT_PASSWORD'">
  <div class="signature-password-container">
    <div class="inputs-wrapper">
      <div class="repeat-pass-icon"></div>
      <h2>رمز وارد شده در مرحله‌ قبل را تکرار کنید</h2>
      <ui-pin-input
        [value]="code"
        (pinChange)="onRepeatCodeChange($event)"
        [hasError]="!!errorMessage"
        [errorMessage]="errorMessage"
        type="PIN"></ui-pin-input>
    </div>
  </div>
  <ng-button [fullWidth]="true" (clickHandler)="repeatPassProceed()"
             [disabled]="!isRePassProceed">
    تایید و ادامه
  </ng-button>
</ng-container>
<ng-container *ngIf="passwordStatus === 'PREVIEW'">
  <div class="signature-password-container">
    <div class="preview-wrapper">
      <div class="signature">
        <div class="preview-icon">
          <ui-api-image
            width="96px"
            height="62px"
            [imageId]="signatureDetails.signature.signatureImageId"></ui-api-image>
        </div>
      </div>
      <div class="list-wrapper">
        <h2>امضای دیجیتال شما با موفقیت ثبت‌شد.</h2>
        <ul>
          <li>به کمک امضای دیجیتال، هویت شما در قراردادهای دیجیتال قابل شناسایی و تایید است.</li>
          <li>این امضا با رمز دلخواه شما با حفظ محرمانگی برای شما به مدت ۳۶۵ روز ذخیره می‌شود.</li>
        </ul>
      </div>
      <p>این رمز را کپی کنید و در جایی امن نگه دارید تا در زمان امضای اسناد و مدارک از این رمز استفاده کنید.</p>
      <div class="password-wrapper">
        <span *ngIf="!isCopy" (click)="copyToClipboard()" class="copy"><img
          alt="copy-logo" src="assets/icons/copy-blue.svg"/></span>
        <ngx-badge *ngIf="isCopy" size="md" status="success" mode="fill">
          کپی شد!
        </ngx-badge>
        <span class="password">{{code}}</span>
      </div>
    </div>

  </div>
  <ui-checkbox (changed)="isPreview = $event" class="checkbox-text">
    <span>رمز امضای دیجیتال را دیدم و به خاطر سپردم.</span>
  </ui-checkbox>
  <ng-button [fullWidth]="true" (clickHandler)="preview()"
             [disabled]="!isPreview">
    تایید و ادامه
  </ng-button>
</ng-container>
<ng-container *ngIf="passwordStatus === 'ERROR' ">
  <ngx-status-result
    class="status-result"
    [title]="errorData?.title"
    [description]="errorData?.message"
    [buttons]="errorData?.buttons"
    (clicked)="onClick($event)"
  >
    <ng-container status-image>
      <img [src]="errorData?.staticImage" alt="">
    </ng-container>
  </ngx-status-result>
</ng-container>



