@import "@digipay/base-style/styleguide";


.black-friday-intro {
  padding-bottom: 286px;

  .title {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 67px; /* 176.316% */
    margin-bottom: map-get($spacing-sizes, 'minus');
  }

  .subtitle {
    color: #FFF;
    margin-bottom: map-get($spacing-sizes, 'huge');
  }

  .cta {
    gap: map-get($spacing-sizes, 'minus');
  }
}


:host ::ng-deep {
  ngx-button.custom-button {
    .ngx-button {
      color: rgba(255, 255, 255, 0.80) !important;
      background-color: rgba(255, 255, 255, 0.04) !important;
      border: 1px solid rgba(255, 255, 255, 0.2) !important;
    }
  }

  ngx-button.custom-button-cta {
    .ngx-button {
      color: #000 !important;
    }
  }
}


@media (max-width: 1280px) {
  .black-friday-intro {
    padding-bottom: 60px;
    position: relative;

    .blackfriday-logo {
      img {
        width: 270px;
      }
    }

    .title {
      font-size: 26px !important;
      text-align: center !important;
      line-height: 32px;
      margin-bottom: 15px;
    }

    .subtitle {
      font-size: 14px !important;
      text-align: center !important;
    }

    .cta {
      flex-direction: column-reverse;
    }
  }
}
