@import "globals";

::ng-deep {
  .cdk-overlay-pane {
    max-width: 100% !important;
  }

  .mat-mdc-dialog-container {
    padding: 0;
    border-radius: 0;
    scroll-behavior: smooth;
    background: #f2f5f8;
  }

  .full-height {
    .mat-bottom-sheet-container {
      max-height: unset;
      border-radius: unset !important;
      padding: 0 !important;
    }
  }
}

.modal-full-page {
  direction: rtl;
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
  width: 100%;

  .navbar {
    display: flex;
    gap: 24px;
    width: 100%;
    margin-bottom: 28px;

    .step {
      flex: 1 100%;

      .title {
        font-size: 14px;
        font-weight: 700;
        color: #000d33;
        margin-bottom: 8px;
      }

      .line {
        background: #b4c7ff;
        border-radius: 100px;
        width: 100%;
        height: 4px;
      }

      &.active .line {
        background: #0040ff;
      }
    }
  }

  .dialog-body {
    background: #fff;
    display: flex;
    border-radius: 16px;
    padding: 16px;
    flex-grow: 1;
  }

  .close {
    cursor: pointer;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 24px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 744px) {
  .modal-full-page {
    padding: 0;

    .close {
      margin-bottom: unset;
    }

    .dialog-body {
      padding: 0;
    }

    .dialog-header {
      padding: 16px;
      background: #f0f5ff;
    }

    .navbar {
      margin-bottom: unset;

      .step .title {
        font-size: 11px;
      }
    }
  }
}
