<div class="container-card">
  <ng-container *ngFor="let row of rows">
    <div class="row" *ngIf="row.value > 0">
      <div class="title">
        <div>{{row.title}}</div>

        <div
          #tooltip="matTooltip"
          (click)="tooltip.toggle()"
          *ngIf="row.tooltip"
          [matTooltip]="row.tooltip"
          class="info-icon"
        >
        </div>
      </div>

      <div class="amount">
        {{row.value | iranianRials:'hideRial'}}
        <span class="currency">ریال</span>
      </div>
    </div>
  </ng-container>

  <div class="divider"></div>

  <div class="row big">
    <div class="title">
      <div>{{footerTitle}}</div>
    </div>

    <div class="amount">
      {{footerAmount | iranianRials:'hideRial'}}
      <span class="currency">ریال</span>
    </div>
  </div>
</div>
