@import "../../../layout/variables";
@import "../../../layout/mixins/device";

.flex-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  line-height: 1.71;
  color: $dark-gray;

  .bold {
    font-weight: bold;
  }
}

.button-box {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  width: 100%;

  .submit-btn {
    flex-grow: 1;
    width: 100%;
  }

  .cancel-btn {
    width: 170px;
  }
}

.rules {
  font-size: 12px;

  .rules-link {
    text-decoration: underline;
    color: $digipay-blue-primary;
    font-weight: bold;
    cursor: pointer;
  }
}

.tac-notice {
  background: $swatch_steel_100;
  padding: 12px;
  font-size: 12px;
  color: $swatch_steel_700;
  border-radius: 12px;
  line-height: 1.4em;
}

:host ::ng-deep .header-title {
  font-size: 18px !important;
}


@include mediaMobile() {
  ::ng-deep .content-card-body {
    height: 100%;
  }
  .flex-card-content {
    padding: 80px 24px 24px 24px;
  }
}
