//  #########################
//  #####   Variables   #####

$fb-input-radius: 8px;
$fb-input-radius-color: #666;
$fb-input-text-color: #333;
$fb-primary-blue: #0040ff;
$fb-primary-red: #ff2638;
$fb-hint-message-text: #6e798d;
$fb-input-font-size: 16px;
$fb-hint-font-size: 12px;
$fb-label-font-size: 11px;
$fb-input-height: 48; // Should based on pixel
$fb-input-padding: 13px; // Only effect on left & right padding of input element & top of textarea
$fb-input-background-color: #fff;
$fb-effects-speed: 0.2s;
$fb-textarea-min-height: 120px;
$fb-scrollbar-color-primary: #0040ff;
$fb-scrollbar-color-secondary: #ccc;
