@import '../../../../../../styles/layout/variables';
@import "@digipay/base-style/styleguide";

:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.branch-wrapper {
  display: flex;
  flex: 1 1 auto;
  gap: 36px;
  flex-direction: column;
  color: $swatch_steel_700;
  margin-top: 24px;

  .branch-header {
    .title {
      text-align: right;
      font-size: 24px;
      font-weight: 800;
      line-height: 24px;
      margin-bottom: 4px;
    }

    .description {
      text-align: right;
      font-size: 16px;
      font-weight: 700;
      line-height: 28.8px;
    }
  }

  .branch-map {
    border-radius: 16px;
  }

  .branch-note {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;

    .note-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      .icon {
        background-image: url("../../../../../../../assets/icons/error.svg");
        width: 32px;
        height: 32px;
      }

      span {
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
      color: map-get($yellow, 'tint-30');
      }
    }

    .note-description {
      font-size: 14px;
      font-weight: 370;
      line-height: 24px;
      color: $db-black;
    }
  }
}

@media screen and (max-width: 522px) {

  .branch-wrapper {
    display: flex;
    flex: 1 1 auto;
    gap: 0;
    flex-direction: column;
    color: $swatch_steel_700;
    margin-top: 20px;

    .branch-header {
      .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 8px;
      }

      .description {
        text-align: right;
        font-size: 12px;
        font-weight: 325;
        line-height: 20px;
      }
    }

    .branch-map {
      border-radius: 16px;
      width: 328px;
      height: 216px;
      margin: 16px auto;
    }

    .branch-divider {
      margin: 8px 0;
    }

    .branch-note {
      .note-description {
        font-size: 12px;
        font-weight: 370;
        line-height: 20px;
      }
    }
  }


  ::-webkit-scrollbar-thumb {
    height: 10px;
    width: 5px;
    border: 4px solid $swatch_blue_200;
  }
}
