<section class="section-intro">
  <div class="container">
    <div class="right-side">
      <div>
        <h1 class="is-currency">
          طر ح خرید اقساطی با چک
          <br />
          تا&nbsp;
          <span style="color: #3c6dff">
            {{ '2000000000' | IRR }}
          </span>
          &nbsp; ریال
        </h1>
        <div class="values">
          <ng-container *ngFor="let item of values">
            <span class="value">{{ item.value }}</span>
          </ng-container>
        </div>
      </div>
      <div class="ctas">
        <app-ui-button
          [link]="'https://www.digikala.com/cheque/'"
          size="BIG"
          >مشاهده و دریافت طرح</app-ui-button
        >
        <app-ui-button
          appearance="OUTLINE-BLUE"
          appScrollToAnchor="calculator"
          size="BIG"
          >محاسبه‌ اقساط
        </app-ui-button>
      </div>
    </div>
    <div class="left-side">
      <div class="image">
        <swiper-container
          appSwiper
          #swiper="appSwiper"
          [config]="config"
        >
          <swiper-slide *ngFor="let item of images">
            <img [src]="item.image.url" />
          </swiper-slide>
        </swiper-container>

        <svg
          fill="none"
          height="0"
          viewBox="0 0 376 468"
          width="0"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M375.545 188V467.545H0.455355V188C0.455355 84.4219 84.422 0.455355 188 0.455355C291.578 0.455355 375.545 84.422 375.545 188Z"
            stroke="#000D33"
            stroke-width="0.910711"
          />
          <rect
            fill="#000D33"
            height="268"
            transform="translate(363 187)"
            width="13"
          />
          <g clip-path="url(#clip0_415_23762)">
            <path
              d="M13 188C13 91.3502 91.3502 13 188 13V13C284.65 13 363 91.3502 363 188V455H13V188Z"
              fill="#0040FF"
            />
          </g>
          <defs>
            <clipPath id="clip0_415_23762">
              <path
                d="M13 188C13 91.3502 91.3502 13 188 13V13C284.65 13 363 91.3502 363 188V455H13V188Z"
                fill="white"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</section>
