@import "variables";

.edit-amount-bottom-sheet {
  padding: 16px 8px;
  border-radius: 16px 16px 0 0;
  background-color: #FFFFFF;
  direction: rtl;
  text-align: right;

  .enter-amount {
    .label {
      font-size: 14px;
      font-weight: 500;
      text-align: right;
      margin-bottom: 16px;
    }

    input {
      background: #f5f8fa;
      direction: ltr;
      border-radius: 8px 8px 0 0;
      border: none;
      width: 100%;
      display: block;
      height: 60px;
      line-height: 60px;
      font-size: 24px;
      text-align: center;

      &:focus {
        outline: none;
      }
    }
  }

  .cta-wrapper {
    margin-top: 16px;

    .full-width-button {
      width: 100%;
      display: block;
    }
  }

}
