@import "globals";

.le-text-card {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid $swatch_steel_200;

  .le-icon img {
    width: 56px;
  }

  .le-description {
    padding-right: 16px;
    font-size: 12px;
    line-height: 20px;
  }
}
