<div class="h-100 d-flex flex-column surface-high-contrast">
  <ipl-header/>

  <div class="px-plus d-flex flex-column justify-content-center flex-grow">
    <ngx-status-result
      [title]="'سرویس دهنده در دسترس نیست'"
      description='در حال حاضر شبکه بانکی در دسترس نیست. لطفاً ساعاتی بعد تلاش نمایید.'
    >
      <ng-container status-image>
        <img alt="cut-off" loading="lazy" src="assets/installment-pay-link/cut-off.svg">
      </ng-container>
    </ngx-status-result>
  </div>
</div>
