@import '../../../../styles/layout/variables';
.step-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  .result-illustration {
    width: 166px;
    height: 166px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .result-title {
    font-size: 24px;
    text-align: center;
    margin: 8px 0 32px
  }

  .result-description {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 32px
  }

  &.status-success {
    .result-illustration {
      background-image: url("./assets/illustration-credit-success.png");
    }
    .result-title {
      color: $swatch_green_500;
    }
  }
  &.status-pending {
    .result-illustration {
      background-image: url("./assets/illustration-credit-pending.png");
    }
    .result-title {
      color: $swatch_blue_500;
    }
  }
  &.status-failed {
    .result-illustration {
      background-image: url("./assets/illustration-credit-fail.png");
    }
    .result-title {
      color: $swatch_red_500;
    }
  }
}

.warning-message-box {
  padding: 24px;
  border-radius: 16px;
  background-color: $swatch_blue_100;
  font-size: 12px;
  ::ng-deep {
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      line-height: 2.5;
      li {
        margin-left: 20px;
        list-style-position: inside;
      }
    }
  }
}

.doc-sub-items-wrapper {
  .doc-sub-items-text {
    font-size: 10px;
    color: $swatch_steel_700;
  }

  .doc-sub-items {
    display: flex;
    .doc-sub-item {
      font-size: 10px;
      margin-top: 4px;
      margin-left: 4px;
      padding: 1px 4px;
      border-radius: 2px;
      background: $swatch_steel_200;
    }
  }

}

@media screen and (max-width: 768px) {
  .step-result {
    padding: 24px;

    .result-title {
      font-size: 18px;
      text-align: center;
      margin: 8px 0 16px;
    }

    .result-description {
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 32px
    }
  }
}
