@import "../../../../style/globals";
@import "@digipay/base-style/styleguide";

.sec-about-vision {

  overflow: hidden;
  position: relative;
  padding-top: 140px;

  .vision-bg-wrapper {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    animation: infinityPath 5s ease-in-out infinite;
    width: 1500px;
    margin: 0 auto;
  }

  .vision-bg {
    width: 1800px;
    opacity: 0.5;
    transform-origin: center;
    animation: rotateBg 10s linear infinite;
  }

  > *:not(.vision-bg-wrapper) {
    position: relative;
    z-index: 1;
  }

  .about-vision-title {
    color: #000;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .about-us-vision-list {
    max-width: 1200px;
    margin: 0 auto 80px;

    .about-us-vision-item {
      flex: 1 1 calc(33.333% - 20px);
      min-width: 300px;
      border-radius: 24px;
      position: relative;
      z-index: 0;
      padding: map-get($spacing-sizes, 'massive') map-get($spacing-sizes, 'mega') 44px map-get($spacing-sizes, 'mega');

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 3px; // border thickness
        border-radius: 24px; // match outer radius
        background: linear-gradient(-53deg, #fff, transparent);
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
      }

      .vision-feature__subtitle{
        text-align: center;
      }
    }

  }
}


@keyframes rotateBg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes infinityPath {
  0% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(50px, -30px);
  }
  25% {
    transform: translate(100px, 0px);
  }
  37.5% {
    transform: translate(50px, 30px);
  }
  50% {
    transform: translate(0, 0);
  }
  62.5% {
    transform: translate(-50px, -30px);
  }
  75% {
    transform: translate(-100px, 0px);
  }
  87.5% {
    transform: translate(-50px, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}


@media (max-width: 1280px) {
  .sec-about-vision {
    padding: 70px 32px 0 !important;

    .about-vision-title {
      color: #000;
      text-align: center;
      font-feature-settings: 'ss01' on, 'liga' off, 'clig' off;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }

    .about-vision-subtitle {
      text-align: center;
      font-size: 14px !important;
      margin-bottom: 32px !important;
    }
  }
}

@media (max-width: 768px) {
  .about-us-vision-item {
    flex: 1 1 100%;
  }
}


@media (max-width: 744px) {

}

@media (max-width: 330px) {
  .sec-about-vision {
    .about-us-vision-item {
      min-width: auto !important;
    }
  }
}
