<div class="content">
  <div class="point"></div>

  <div class="text">
    <span class="wallet-inventory-text">موجودی کیف پول</span>

    <p class="description">
      موجودی کیف‌پول
      شما می‌تواند نقدی یا هدیه باشد. در موجودی نقدی شما
      ، فقط مبالغی قابل برداشت هستند که از حساب بانکی
      به کیف‌پول شما واریز شده باشد.
    </p>
  </div>

</div>

<div class="footer">
  <a class="link-button back">
    <div class="icon arrow-left"></div>
    قبلی
  </a>
  <a class="link-button next">
    بعدی
    <div class="icon arrow-left"></div>
  </a>
</div>
