
@import "src/app/layout/mixins/device";
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  position: absolute;
  bottom: 40px;
  right: 40px;
  left: 40px;

  ui-button {
    width: 100%;

    ::ng-deep .button {
      padding: 12px 24px;
    }
  }
}

@include mediaMobile() {
  .footer {
    position: fixed;
    bottom: 24px;
    right: 24px;
    left: 24px;
  }
}
