$swatch_blue_900: #002fa3;
$swatch_blue_700: #0037d1;
$swatch_blue_500: #0040ff;
$swatch_blue_400: #3c6dff;
$swatch_blue_300: #789aff;
$swatch_blue_200: #b4c7ff;
$swatch_blue_100: #f0f5ff;
$swatch_purple_900: #6240a3;
$swatch_purple_700: #7d4dca;
$swatch_purple_500: #995af2;
$swatch_purple_400: #b07ff5;
$swatch_purple_300: #c7a4f8;
$swatch_purple_200: #dec9fb;
$swatch_purple_100: #f5eeff;
$swatch_teal_900: #00a39f;
$swatch_teal_700: #00b9ba;
$swatch_teal_500: #00cfd5;
$swatch_teal_400: #3cdbdf;
$swatch_teal_300: #78e7ea;
$swatch_teal_200: #b4f3f4;
$swatch_teal_100: #f0ffff;
$swatch_green_900: #00a34d;
$swatch_green_700: #02b75d;
$swatch_green_500: #00cc6d;
$swatch_green_400: #5fda93;
$swatch_green_300: #91e8b6;
$swatch_green_200: #c0f4d7;
$swatch_green_100: #eefff6;
$swatch_yellow_900: #ffa700;
$swatch_marigold: #ffbe00;
$swatch_yellow_700: #ffbe00;
$swatch_yellow_500: #ffd500;
$swatch_yellow_400: #ffe05b;
$swatch_yellow_300: #ffea8f;
$swatch_yellow_200: #fff3bf;
$swatch_yellow_100: #fffcee;
$swatch_orange_900: #f24024;
$swatch_orange_700: #fa631d;
$swatch_orange_500: #ff811a;
$swatch_orange_400: #ffa054;
$swatch_orange_300: #ffbd86;
$swatch_orange_200: #ffd9b9;
$swatch_orange_100: #fff5ee;
$swatch_red_900: #d82137;
$swatch_red_700: #eb2338;
$swatch_red_500: #ff2638;
$swatch_red_400: #ff6572;
$swatch_red_300: #ff96a6;
$swatch_red_200: #ffc3d1;
$swatch_red_100: #ffeef3;
$swatch_steel_900: #2c3544;
$swatch_steel_700: #424c5c;
$swatch_steel_500: #6e798d;
$swatch_steel_400: #8d99a8;
$swatch_steel_300: #afb9c5;
$swatch_steel_200: #dee3e7;
$swatch_white_900: #ffffff;
$swatch_steel_100: #f2f5f8;
$swatch_white_700: rgba(255, 255, 255, 0.85);
$swatch_white_500: rgba(255, 255, 255, 0.65);
$swatch_white_400: rgba(255, 255, 255, 0.45);
$swatch_white_300: rgba(255, 255, 255, 0.3);
$swatch_white_200: rgba(255, 255, 255, 0.15);
$swatch_white_100: rgba(255, 255, 255, 0.05);
