@import "variables";

:host {
  direction: rtl;
}

.count-down {
  width: 48px;
}

.wrapper {
  background-color: $swatch_steel_100;
  height: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;

  &.isDesktop {
    padding: 0;
    background-color: unset;
  }

  &.isDesktop .footer {
    position: fixed;
    bottom: 2%;
    margin: 0;
    right: 0;
    width: 100vw;
  }

  &.isDesktop .body-box {
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    padding: 36px;

    .actions {
      margin-top: 40px
    }

    .row {
      margin-bottom: 24px;
    }
  }
}

.container {
  flex-grow: 1;
}

.body {
  direction: rtl;
  height: 100%;
  display: flex;
  align-items: center;
}

.body-box {
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
  width: 100%;

  .logo {
    height: 58px;
    width: 58px;
    border-radius: 16px;
    margin: auto;
    background-image: url("../../../credit-assets-new/images/bnpl_mini_app.svg");
    background-position: center;
    background-color: #f2f0ff;
  }

  .title {
    text-align: center;
    margin: 24px 0 32px;
    font-weight: 500;
    font-size: 16px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  .row-right {
    color: #6e798d;
  }

  .actions {
    margin-top: 34px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 18px;

    .confirm {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      > span {
        min-width: max-content;
      }
    }
  }
}

.footer {
  height: 48px;
  background-image: url("../../../credit-assets-new/images/logo/logo_digipay_logotype.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 24px 0;
}

@media (min-width: 1200px) {
  .wrapper.isDesktop {
    .footer {
      bottom: 8%;
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0;
  }
}

@media (max-width: 360px) {
  .body-box {
    .actions {
      grid-template-columns: 1fr;

      & > :first-child {
        order: 2;
      }

      & > :last-child {
        order: 1;
      }
    }
  }
}
