@import "../../../../../../../style/globals";

.section-registering {
  width: 100%;

  .online-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .calculator {
      width: 100%;
    }
  }
}
