<div class="rule-wrapper">
  <div class="rules-header">
    <div class="header-title">
      <div class="header-title-logo"></div>
      <div class="header-title-text">
        بانک خاورمیانه
      </div>
    </div>
    <div class="header-subtitle">
      شرایط و مقررات افتتاح حساب بانکداری خرد
    </div>
  </div>
  <div class="rules-content">
    <app-scrollable-view>
      <p>
        1. بانک خاورمیانه به وصایت و وکالت از طرف سپرده گذاران، با داشتن حق توکیل به غیر، وجه سپرده ها را طبق قانون
        عملیات
        بانکی بدون ربا به طور مشاع به کار گرفته و منافع حاصله را طبق آیین نامه و مقررات مربوطه به سپرده گذار یا قائم
        مقام
        قانونی وی پرداخت می نماید.
      </p>
      <p> 2. برای افتتاح حساب نیاز به اطلاعات هویتی/ ثبتی و اقامتی مشتری است. در صورت عدم همکاری مشتری یا ارایه اطلاعات
        غیر واقعی، بانک از گشایش حساب برای وی خودداری نموده یا در صورتی که برای او حسابی افتتاح شده باشد از ارایه هرگونه
        خدمت به آن مشتری خودداری می نماید.
      </p>
      <p> 3. صاحب حساب موظف است به محض تغییر مشخصات هویتی/ ثبتی یا آدرس محل اقامت، بانک را مطلع نماید. مادامی که نشانی
        جدید به شرح مذکور به اطلاع بانک نرسیده باشد، کلیه مراسلات و اوراق و اخطاریه ها و صورت حساب ها به آخرین نشانی
        مشتری
        ارسال خواهد شد.
      </p>
      <p> 4. حداقل مبلغ افتتاحیه برای انواع سپرده های سرمایه گذاری در هنگام افتتاح حساب، بر اساس مقررات بانک تعیین و به
        بازکننده حساب اعلام می گردد.
      </p>
      <p> 5. امضا یا امضاهایی که در زمان افتتاح حساب، برای استفاده از حساب تعیین می‌شود تا زمانی برای بانک معتبر خواهد
        بود
        که دستور مخالفی از طرف صاحب حساب به بانک نرسیده باشد. در صورت وصول چنین دستوری، بانک از پرداخت در مقابل امضا یا
        امضاهای تعیین شده قبلی خودداری خواهد نمود.
      </p>
      <p> 6. بانک طبق قوانین بانکی کشور و مقررات بانک مرکزی جمهوری اسلامی ایران، در صورت نقض مقررات توسط مشتریان، لیست
        مشتریان مربوطه را به بانک مرکزی اعلام می‌دارد.
      </p>
      <p> 7. در سپرده‌های کوتاه مدت، سپرده‌هایی مشمول دریافت سود هستند که حداقل به مدت یک ماه از تاریخ افتتاح حساب به
        طور
        پیوسته دارای مانده باشند. هر زمان که مانده حسابی صفر گردد، حساب مذکور از شمول سود خارج شده و برقراری مجدد آن
        مستلزم تامین حداقل مبلغ و استمرار آن به مدت یک‌ماه دیگر است. ملاک محاسبه و پرداخت سود سپرده سرمایه‌گذاری کوتاه
        مدت، حداقل مانده سپرده در ماه است.
      </p>
      <p> 8. واریز به سپرده‌های کوتاه مدت به صورت نقدی، چک و حواله از طریق شعب و دستگاه‌های خودپرداز امکانپذیر است.
        همچنین
        مشتری می تواند با استفاده از کارت و سایر ابزارهای الکترونیکی، وجوهی را از سایر بانک‌ها به این سپرده واریز نماید.
      </p>
      <p> 9. برداشت از سپرده‌های کوتاه مدت با استفاده از کارت، چک بین بانکی و صدور حواله انتقال الکترونیک وجه مجاز است.
      </p>
      <p> 10. تمامی هزینه‌ها و کارمزد‌های ارایه خدمات بانکی با رعایت قوانین و مقررات بانک مرکزی جمهوری اسلامی ایران از
        مشتری دریافت و یا از حساب وی برداشت می‌شود. هرگونه تغییر در تعرفه‌های مذکور با رعایت قوانین بانک مرکزی جمهوری
        اسلامی ایران اعمال و از همان به بعد قابل اجرا است.
      </p>
      <p> 11. وضعیت سپرده‌های سرمایه گذاری کوتاه مدت با هر میزان مانده در صورتی‌که حداقل دو سال فاقد گردش مالی باشند به
        راکد تبدیل خواهد شد. با تغیر وضعیت مذکور انجام هرگونه تراکنش مالی روی سپرده راکد شده، منوط به رفع راکدی سپرده
        خواهد بود.
      </p>
      <p> 12. در مواردی‌که بنا به عللی از قبیل خرابی تجهیزات رایانه‌ای، سیستم پردازش داده‌ها، اختلال یا قطعی خطوط
        ارتباطی،
        رویدادهای اجتناب ناپذیر و ... و آنچه خارج از کنترل بانک باشد و بانک قادر به ارایه خدمات بانکی نباشد، مسئولیتی
        متوجه بانک نخواهد بود.
      </p>
      <p> 13. اگر بانک تحت هر عنوان به اشتباه وجوه یا ارقامی به حساب مشتری منظور و یا در محاسبه هر نوعی اشتباهی نماید،
        در
        هر موقع مجاز و مختار است راساً و مستقلاً و بدون انجام هیچ‌گونه تشریفات اداری و قضایی در رفع اشتباه و برگشت و
        تامین
        و انتقال وجوه واریز شده از حساب‌های مشتری اقدام نماید و تشخیص بانک نسبت به این امر معتبر بوده و صاحب حساب هرگونه
        اعتراض و ادعایی را به عمل بانک در هر جهت از خود سلب و ساقط می‌نماید.
      </p>
      <p> 14. مستندات حسابداری بانک در مقابل مشتریان سند و دلیل معتبر خواهد بود.
      </p>
      <p> 15. بانک برای وصول هر نوع مطالبات خود و خسارات ناشی از معاملات بانکی حق و اختیار دارد از هر نوع اعتبار و اسناد
        و
        اوراق بهاداری اعم از ارزی و ریالی و موجودی حساب‌های ریالی و ارزی و هر نوع مال و طلب نزد خود تحت هر عنوان که
        باشد،
        تا معادل مطالبات خود، قبل از ابلاغ به مشتری مسدود نموده و سپس مراتب را به مشتری اعلام و در صورت عدم اقدام توسط
        مشتری ظرف مدت 10 روز نسبت به برداشت و تسویه بدهی وی از محل مسدود شده اقدام نماید.
      </p>
      <p> 16. بانک استرداد اصل سپرده سرمایه گذاری را تعهد می نماید.
      </p>
      <p> 17. افتتاح سپرده، تعهدی برای پرداخت تسهیلات نخواهد بود.
      </p>
      <p> 18. مشتری متعهد می‌گردد از هرگونه اقدامی که منجر به پولشویی گردد، خودداری نموده و همچنین به اشخاص ثالث اجازه
        استفاده از حساب‌ها و خدمات بانکی و ابزارهای بانکداری الکترونیکی خود را ندهد و همچنین اعلام می‌نماید اطلاعات
        ارایه
        شده (نشانی، کدپستی، تلفن ثابت و تلفن همراه و...) بر اساس آخرین تغییرات باشد و به علاوه متعهد و ملزم می‌شود
        هرگونه
        تغییر در اطلاعات هویتی/ ثبتی و کد و نشانی پستی / ثبتی و سایر تغییرات را در کوتاهترین زمان ممکن به مراجع قانوی
        ذیربط (ثبت احوال و یا اسناد و املاک و ...) اطلاع داده و مستندات تغییرات را به بانک ارایه دهد.
      </p>
      <p> 19. در صورت وصول بازداشت‌نامه به بانک برای بازداشت موجودی حساب علیه صاحب حساب از مراجعی که قانوناً حق بازداشت
        اموال را دارند، بانک حساب را مسدود می‌نماید.
      </p>
      <p> 20. توجه به تحویل کارت بانکی از طریق شرکت پست تنها به شخص متقاضی در آدرس اعلامی، مشتری ملزم به حضور در آدرس
        پستی
        اعلام شده و دریافت کارت بانکی می‌باشد. در صورت عدم حضور مشتری، کارت بانکی به بانک عودت و ارسال مجدد آن مستلزم
        پرداخت هزینه پستی توسط مشتری می باشد.
      </p>
      <p> 21. مشتری پس از دریافت کارت در آدرس اعلامی، لازم است نسبت به فعال‌سازی خدمات بانکداری الکترونیک بانک (اینترنت
        بانک، موبایل بانک و برنامه رمز پویا ) خود از طریق سایت بانک اقدام نماید.
      </p>
      <p> 22. مشتری لازم است پس از فعالسازی خدمات بانکداری الکترونیک بانک خود، نسبت به فعال‌سازی و تعیین رمز اول کارت از
        طریق خدمات مذکور اقدام نماید.

      </p>
    </app-scrollable-view>
  </div>
  <div class="footer">
    <ngx-button mode="form"
                size="medium"
                [brandButton]="true" [fullWidth]="true"
                (click)="close()">
      مطالعه کردم
    </ngx-button>
  </div>

</div>
