<div
  [ngClass]="refreshToken ? 'refresh-token' : ''"
  class="enter-password"
>
  <div class="content">
    <div *ngIf="refreshToken">
      <img
        alt="digipay"
        class="digipay-logo"
        height="16"
        ngSrc="assets/logo/digipay.svg"
        width="16"
      />
    </div>
    <app-pin-input
      (pinChange)="onEnter($event)"
      [hasError]="wrongPassword"
      [value]="password"
      description="رمز عبور خود را وارد کنید."
    >
    </app-pin-input>
    <div
      *ngIf="invalidPasswordErrorMessage"
      class="text-error"
    >
      {{ invalidPasswordErrorMessage }}
    </div>
  </div>
</div>
