@import "globals";

.enter-password {
  &.refresh-token {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10001;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .digipay-logo {
    display: block;
    margin: 0 auto 40px auto;
    width: 96px;
    height: auto;
    max-height: 96px;
  }

  .text-error {
    font-weight: 400;
    font-size: 12px;
    color: #ff2638;
    margin-top: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.5;
    width: 100%;
    text-align: center;
  }

  .spinner {
    margin-top: 24px;
  }
}

@include mediaMobile() {
  .enter-password {
    .content {
      position: relative;
      //top: -60px;
    }
  }
}
